:root {
    --main-text-color: #333;
    --primary-theme-color: #f47d21;
    --blue-light: #b0c3cf;
    --blue-dark: #50889f;
    --blue-x-dark: #056482;
    --blue-xx-dark: #055472;
    --blue-xxx-dark: #023452;
    --subtle-text: #666;
    --main-bg-color: white;
    --light-grey: #efefef;
    --footer-bg: #3e3e3e;
    --hover-grey: #8D8D8D;
    --white-text: white;
    --cycle-red: #C63244;
    --cycle-yellow: #DBBE28;
    --cycle-purple: #903292;
    --cycle-green: #309E69;
    --cycle-brown: #763E2A;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    font-family: 'Lato', sans-serif;
    font-variant-ligatures: none;
}

h2 {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    color: var(--blue-xx-dark);
    margin: 40px 0 10px;
}

h3 {
    font-weight: 700;
    font-size: 140%;
    margin-top: 20px;
}

/* Add space between an image and <h3> */

figure+h3, .alert+h3 {
    margin-top: 1.5em;
}

h4 {
    font-weight: 700;
    font-size: 120%;
    color: var(--subtle-text);
    margin-top: 20px;
}

h2+h3 {
    margin-top: 12px;
}

h3+h4 {
    margin-top: 15px;
}

strong {
    color: #333;
}

/*
* Spacer classes (not in Bootstrap 3)
*/

.default-label {
    font-weight: inherit;
    background-color: var(--light-grey);
    color: var(--main-text-color)
}

.default-label:hover {
    color: var(--white-text);
    background-color: var(--subtle-text);
}

.mt-0, .docimage.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: 1em;
}

.mt-2, .alert.mt-2 {
    margin-top: 1.5em;
}

.mb-0, .docimage.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 1em;
}

.mb-2, .alert.mb-2 {
    margin-bottom: 1.5em;
}

.hr-margin {
    margin-top: 20px;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code {
    border-radius: 3px;
}

.bs-callout+.bs-callout {
    margin-top: -5px;
}

.bs-callout-default {
    border-left-color: #777;
}

.bs-callout-default h4 {
    color: #777;
}

.bs-callout-primary {
    border-left-color: #428bca;
}

.bs-callout-primary h4 {
    color: #428bca;
}

.bs-callout-success {
    border-left-color: #5cb85c;
}

.bs-callout-success h4 {
    color: #5cb85c;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4 {
    color: #d9534f;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}

.bs-callout-info {
    border-left-color: #5bc0de;
}

.bs-callout-info h4 {
    color: #5bc0de;
}

.gi-2x {
    font-size: 2em;
}

.gi-3x {
    font-size: 3em;
}

.gi-4x {
    font-size: 4em;
}

.gi-5x {
    font-size: 5em;
}

.breadcrumb>.active {
    color: #777 !important;
}

/* make room for the nav bar

h1[id], h2[id], h3[id], h4[id], h5[id], h6[id], dt[id] {
    padding-top: 60px;
    margin-top: -40px
}
*/

.post-content ol li, .post-content ul li {
    margin: 10px 0px;
}

.pageSummary {
    font-size: 13px;
    display: block;
    margin-bottom: 15px;
    padding-left: 20px;
}

.post-summary {
    margin-bottom: 12px;
}

.bs-example {
    margin: 20px;
}

.breadcrumb li {
    color: gray;
}

.margin-link {
    margin: 25px 0px;
}

caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: left;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: var(--blue-xxx-dark);
    border-color: var(--blue-xxx-dark);
}

table {
    border: 1px solid var(--main-bg-color);
    table-layout: fixed;
    background-color: transparent;
    display: block;
}

.table-margin {
    margin: 20px 0;
}

th {
    text-align: left;
}

/* For the 'All resources' page */

.dataTables_wrapper {
    margin: 40px 0 20px;
}

.tooltable tr th:nth-child(1) {
    width: 25%;
}

table>thead>tr>th, table>tbody>tr>th, table>tfoot>tr>th, table>thead>tr>td, table>tbody>tr>td, table>tfoot>tr>td {
    padding: 8px 8px 8px 0px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid var(--light-grey);
}

table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid var(--light-grey);
    text-transform: none;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    text-align: left;
}

table>caption+thead>tr:first-child>th, table>colgroup+thead>tr:first-child>th, table>thead:first-child>tr:first-child>th, table>caption+thead>tr:first-child>td, table>colgroup+thead>tr:first-child>td, table>thead:first-child>tr:first-child>td {
    border-top: 0;
}

table>tbody>tr:nth-of-type(odd) {
    background-color: var(--main-bg-color);
}

table col[class*="col-"] {
    position: static;
    display: table-column;
    float: none;
}

table td[class*="col-"], table th[class*="col-"] {
    position: static;
    display: table-cell;
    float: none;
}

p.external a {
    text-align: right;
    font-size: 12px;
    color: #0088cc;
    display: inline;
}

#definition-box-container div a.active {
    font-weight: bold;
}

p.post-meta {
    font-size: 80%;
    color: #777;
}

.entry-date {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.71429;
    margin-bottom: 0;
    text-transform: uppercase;
}

.post-content img.emoji {
    margin: 0px 0px 0.2em 0px;
    width: 1.3em;
}

/* search area */

#search-demo-container ul#results-container {
    font-size: 12px;
    background-color: white;
    position: absolute;
    top: 40px;
    /* if you change anything about the nav, you'll prob. need to reset the top and left values here.*/
    left: 20px;
    z-index: -1;
    width: 20em;
    border-radius: 4px;
}

ul#results-container a {
    background-color: transparent;
    padding-top: 7px;
    padding-bottom: 7px;
}

ul#results-container a:hover {
    background-color: var(--primary-theme-color);
    color: var(--main-bg-color);
}

#search-demo-container a:hover {
    color: black;
}

#search-input {
    padding: .5em;
    margin-left: 20px;
    width: 20em;
    font-size: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 9.5px;
    border-radius: 4px;
    border-width: 0px;
    background-color: var(--main-bg-color);
}

#search-input .search-query {
    color: var(--main-text-color);
}

/* end search */

.filter-options {
    margin-bottom: 20px;
}

.filter-options button {
    margin: 3px;
}

ul li::marker {
    color: var(--blue-xx-dark);
}

#toc {
    padding: 15px;
    background: var(--light-grey);
    margin: 1.75em 0 2em;
    border-radius: 4px;
    font-size: 15px;
    max-width: 350px;
    line-height: 1.4;
}

/* Hide the cahin icon provided by anchor.min.js */

#toc .anchorjs-link {
    display: none;
}

/* Indent the lists and reset any other padding */

#toc ul {
    padding: 0 0 0 20px;
}

/* Consistent vertical space between list items */

#toc li, #toc ul ul li {
    margin: 8px 0 0 0;
}

/* Sublists */

#toc ul ul {
    list-style: circle outside;
}

/* Extra space if the toc is followed by a paragraph */

#toc+p {
    margin-top: 1.75em;
}

/*------index page----*/

.flexbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.flexbox h2, .child-box a {
    border-radius: 4px;
    padding: 10px 20px 12px;
}

.flexbox h2 {
    background: var(--footer-bg);
    margin: 0;
    color: white;
    transition: .2s background;
    font-weight: normal;
    font-size: 120%;
}

.flexbox a:hover {
    text-decoration: none;
}

.flexbox h2:hover {
    cursor: pointer;
}

.child-box {
    list-style-type: none;
    padding: 0;
    margin: 0 0 1em;
}

.child-box a:link {
    display: block;
    background: var(--light-grey);
    margin: 0;
    text-decoration: none;
    color: var(--main-text-color);
}

.child-box a:visited {
    color: #000;
}

.child-box a:hover {
    text-decoration: none;
    background: #ddd;
}

svg {
    font-family: 'Lato', sans-serif;
    font-variant-ligatures: none;
}

.embed-responsive.embed-responsive-16by9.main_rdm {
    padding-bottom: 65%;
    margin-bottom: 3em;
}

.embed-responsive {
    overflow: visible;
}

.centered {
    text-align: center;
}

.flexbox .active-button {
    background: var(--primary-theme-color);
    border-color: transparent;
}

/* New styles for the dropdown boxes */

.flexbox>div {
    position: relative;
}

.accordion:hover {
    background-color: var(--blue-xx-dark);
    background-color: var(--hover-grey);
}

.accordion.active {
    background-color: var(--blue-xx-dark);
    background-color: #e46d21;
}

.accordion-panel {
    padding: 0;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 1em;
    z-index: 100;
}

.active+.accordion-panel {
    border: 1px solid #ddd;
    border-width: 0 1px 1px;
    border-radius: 0 0 5px 5px;
}

ul.accordion-panel li {
    margin: 5px 0 5px 10px;
}

.accordion::before {
    content: '\002B';
    font-size: 1.75em;
    line-height: 0.75;
    color: white;
    float: left;
    padding-right: 10px;
    margin-left: -5px;
}

.accordion.active::before {
    content: '\2212';
}

/* Desktop only */

.child-box a:link {
    margin: 0 10px 0 0;
}

/* For larger screens */

@media only screen and (min-width: 500px) {
    .flexbox {
        flex-direction: row;
    }
    .flexbox>div {
        width: 25%;
    }
    .flexbox h2 {
        margin: 0 10px 0 0;
    }
    .embed-responsive.embed-responsive-16by9.main_rdm {
        padding-bottom: 55%;
    }
    .accordion-panel {
        position: absolute;
        left: -20px;
        margin-left: 20px;
        box-shadow: 0px 8px 10px rgba(70, 70, 70, 0.5);
    }
}

@media (min-width: 992px) {
    .embed-responsive.embed-responsive-16by9.main_rdm {
        padding-bottom: 42%;
    }
}

@media (min-width: 1200px) {
    .embed-responsive.embed-responsive-16by9.main_rdm {
        padding-bottom: 35%;
    }
}

/*------index page end----*/

li.dropdownActive a {
    font-weight: bold;
}

.post-content a.fa-rss {
    color: orange;
}

.navbar-inverse .navbar-nav>li>a {
    background-color: transparent;
    margin-top: 11px;
}

.post-content .rssfeedLink {
    color: #248EC2;
}

/* FAQ page */

#accordion .panel-heading {
    font-size: 12px;
}

a.accordion-toggle, a.accordion-collapsed {
    font-size: 14px;
    text-decoration: none;
}

/* Contributors page level */

.contributors-line {
    margin-top: 30px;
}

.contributor-badge {
    height: 1.25em;
    border-radius: 50%;
    margin: 0.25em;
}

/* Contributors carousel homepage */

.contributors .carousel-item {
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.carousel-item.active, .carousel-item.next {
    display: flex;
}


.carousel-control.left {
    background-image: none;
    writing-mode: vertical-lr;
}

.carousel-control.right {
    background-image: none;
    writing-mode: vertical-rl;
}

.carousel-control {
    width: 5%;
    opacity: 100%;
    color:var(--primary-theme-color);
}

.carousel-control:hover {
    color: var(--hover-grey);
}


.hall-of-fame-hero {
    width: 18%;
    background-color: var(--light-grey);
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
}

.hall-of-fame-hero:hover {
    background-color: var(--hover-grey);
    color: var(--light-grey);
}

.item .hall-of-fame-hero .name {
    margin-top: 10px;
    font-size: 0.9em;
    text-align: center;
    height: 2em;
}

.item .hall-of-fame-hero img {
    border-radius: 50%;
    width: 7em;
}

.social-icons {
    padding-left: 0;
    list-style: none;
    align-items: center;
    height: 4ex;
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}

.social-icons a {
    background-color: var(--main-bg-color);
    color: var(--primary-theme-color);
    font-size: 16px;
    display: inline-block;
    line-height: 4ex;
    width: 4ex;
    height: 4ex;
    text-align: center;
    border-radius: 100%;
}

.social-icons a:hover {
    background-color: var(--primary-theme-color);
    color: var(--main-bg-color)
}

.contributor-container {
    margin-right: auto;
    margin-left: auto;
    margin: 20px 0px;
}

@media (max-width: 992px) {
    .item .hall-of-fame-hero .name {
        font-size: 0.7em;
        height: 22px;
    }
    .item .hall-of-fame-hero img {
        width: 5em;
    }
    .social-icons a {
        line-height: 3ex;
        width: 3ex;
        height: 3ex;
    }
    .social-icons {
        height: 3ex;
    }
}

@media (max-width: 600px) {
    .item .hall-of-fame-hero img {
        width: 4em;
    }
    .social-icons a {
        line-height: 2.5ex;
        width: 2.5ex;
        height: 2.5ex;
    }
    .social-icons {
        height: 2.5ex;
    }
}

@media (max-width: 400px) {
    .item .hall-of-fame-hero img {
        width: 1.5em;
    }
    .social-icons a {
        line-height: 2ex;
        width: 2ex;
        height: 2ex;
        font-size: 11px;
    }
    .social-icons {
        height: 2ex;
    }
}

.blurb-title {
    font-size: 1.3em;
    margin: 18px 0px;
    font-weight: 600;
}

/* navgoco sidebar styles (customized) */

.nav, .nav ul, .nav li {
    list-style: none;
}

.nav ul {
    padding: 0;
}

.nav {
    padding: 0px;
    margin: 0px;
}

.nav>li>a:hover {
    background-color: var(--primary-theme-color);
}

.nav a {
    color: var(--main-text-color);
    display: block;
    outline: none;
    /*-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;*/
    text-decoration: none;
}

.nav li>a>span {
    float: right;
    font-size: 19px;
    font-weight: bolder;
}

.nav li>a>span:after {
    content: '\25be';
}

.nav li.active>a>span:after {
    content: '\25b4';
}

.nav a:hover, .nav li.active>a {
    background-color: var(--hover-grey);
    color: #f5f5f5;
}

.nav>li.active>a {
    background-color: var(--primary-theme-color);
}

.nav li a {
    font-size: 15px;
    line-height: 18px;
    /* padding: 2px 10px; */
    background-color: var(--light-grey);
    border-radius: 4px;
    padding-right: 10px;
}

.nav>li>a {
    font-size: 16px;
    line-height: 20px;
    padding: 4px 10px;
}

ul#mysidebar li a {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 4px;
}

.nav ul li ul li a {
    padding-left: 40px;
}

.nav li.thirdlevel>a {
    padding-left: 20px;
    background-color: var(--white-text) !important;
    color: var(--primary-theme-color);
    font-weight: bold;
}

.nav ul li a {
    background-color: transparent;
    padding-left: 10px;
    border-radius: 4px;
}

div.navbar-collapse .dropdown-menu>li>a:hover {
    background-color: var(--primary-theme-color);
}

/* end sidebar */

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    border-radius: 5px;
    background-color: var(--primary-theme-color);
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    border-radius: 5px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: var(--main-bg-color);
    /* margin-top: 10.5px; */
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: var(--white-text);
}

.navbar-brand {
    /* height: 55px; */
    padding-top: 4px;
    padding-left: 16px;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover, a.fa.fa-book.fa-lg.navbar-brand:hover {
    color: var(--primary-theme-color);
}

a.navbar-brand:hover {
    color: var(--primary-theme-color);
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    color: var(--white-text);
    background-color: var(--primary-theme-color);
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: var(--primary-theme-color);
}

.sidebar_rdm {
    display: block;
    margin-left: auto;
    margin-right: auto
}

ul#mysidebar li ul .sidebar_rdm_sub {
    border-color: #efefef;
    padding: 14px 10px 10px 10px;
    border-radius: 0px 0px 4px 4px;
    border-style: solid;
    border-width: 0.2em;
    margin: -5px 0px 0px 0px;
}

@media (max-width: 992px) {
    .sidebar_rdm {
        width: 200px;
    }
}

span.projectTitle {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 23px;
}

.page_ending {
    text-align: right;
    font-size: smaller;
}

.page_endingMeta {
    background-color: whitesmoke;
    padding: 10px;
    max-width: 250px;
    border-radius: 5px;
    margin-top: 50px;
    font-style: italic;
    font-size: 12px;
}

#main {
    min-height: 100vh;
    /* Footer height */
}

.site-footer {
    background-color: var(--footer-bg);
    padding: 15px 0 0px;
    line-height: 24px;
    color: var(--white-text);
    margin-top: 80px;
}

.site-footer .company-image {
    width: 120px;
    height: auto;
    float: right;
}

.site-footer .europe-flag {
    float: left;
    width: 60px;
    margin: 5px 20px 0 0;
    opacity: 0.8;
}

.site-footer h6 {
    color: var(--hover-grey);
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
}

.site-footer a {
    color: var(--white-text);
}

.site-footer a:hover {
    color: var(--primary-theme-color);
}

.site-footer a:hover {
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none;
}

.footer-links li {
    display: block;
}

.footer-links.inline li {
    display: inline-block;
}

.copyright-text {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: right;
    color: var(--light-grey);
}

.contact-us {
    margin-top: 10px;
    margin-bottom: 15px;
    color: var(--light-grey);
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0;
    }
    .site-footer .copyright-text, .site-footer {
        text-align: right;
    }
}

img.screenshotSmall {
    max-width: 300px;
}

dl dt p {
    margin-left: 20px;
}

dl dd {
    margin-top: 10px;
    margin-bottom: 10px;
}

dl.dl-horizontal dd {
    padding-top: 20px;
}

figcaption {
    margin-top: 10px;
    max-width: 90%;
    font-style: italic;
    color: gray;
}

.testing {
    color: orange;
}

.preference {
    color: red;
}

section table tr.success {
    background-color: #dff0d8 !important;
}

table tr.info {
    background-color: #d9edf7 !important;
}

section table tr.warning, table tr.testing, table tr.testing>td.sorting_1 {
    background-color: #fcf8e3 !important;
}

section table tr.danger, table tr.preference, table tr.preference>td.sorting_1 {
    background-color: #f2dede !important;
}

.orange {
    color: orange;
}

table.profile thead tr th {
    background-color: #248ec2;
}

table.request thead tr th {
    background-color: var(--blue-xx-dark);
}

.audienceLabel {
    margin: 10px;
    float: right;
    border: 1px solid #dedede;
    padding: 7px;
}

.nohover:hover {
    text-decoration: none;
}

.prefaceAudienceLabel {
    color: gray;
    text-align: center;
    margin: 5px;
}

span.myLabel {
    padding-left: 10px;
    padding-right: 10px;
}

button.cursorNorm {
    cursor: default;
}

a.dropdown-toggle, .navbar-inverse .navbar-nav>li>a {
    margin-left: 10px;
}

hr.faded {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
    background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
    background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
    background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
}

.post-content img.registry_logo {
    max-height: 40px;
    max-width: 40px;
    margin: 2px;
    padding: 5px;
    border-radius: 4px;
}

.post-content img.tess_logo {
    max-height: 45px;
    max-width: 45px;
    margin-left: 17px;
    margin-bottom: 5px;
}

.orange-snip {
    padding: 16px;
    display: inline;
    border-radius: 4px;
    background-color: var(--light-grey);
    color: var(--main-text-color);
}

.orange-snip:hover {
    background-color: var(--primary-theme-color);
    color: var(--white-text);
}

.docimage {
    margin: 20px 0px 20px 0px;
}

hr.shaded {
    margin-top: 70px;
    background: #ddd;
    width: 100%;
    margin-bottom: 10px;
}

.fa-6x {
    font-size: 900%;
}

.fa-7x {
    font-size: 1100%;
}

.fa-8x {
    font-size: 1300%;
}

.fa-9x {
    font-size: 1500%;
}

.fa-10x {
    font-size: 1700%;
}

i.border {
    padding: 10px 20px;
    background-color: whitesmoke;
}

.summary {
    font-size: 16px;
    color: var(--subtle-text);
    margin: 20px 0px 20px 0px;
    border-left: 5px solid var(--blue-xx-dark);
    padding-left: 10px;
}

.summary:before {
    font-weight: bold;
}

a.fa.fa-envelope-o.mailto {
    font-weight: 600;
}

.alert, .callout {
    overflow: hidden;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background-color: #248ec2;
    color: var(--white-text);
}

li img {
    clear: both;
}

li.sidebarTitle {
    margin-top: 20px;
    font-weight: normal;
    font-size: 130%;
    color: var(--blue-xx-dark);
    margin-bottom: 10px;
    margin-left: 5px;
}

div.sidebarTitle {
    color: var(--primary-theme-color);
}

.tab-content {
    padding: 15px;
    background-color: var(--light-grey);
}

span.tagTitle {
    font-weight: 500;
}

.alert-warning {
    color: #444;
}

div.alert code, h2 code {
    background-color: transparent !important;
}

/* without this, the links in these notes aren't visible.*/

.alert a {
    text-decoration: underline;
}

div.tags {
    margin-top: 30px;
}

.tabLabel {
    font-weight: normal;
}

hr {
    background: #999;
    margin-top: 80px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

button.cursorNorm {
    cursor: pointer;
}

span.otherProgrammingLanguages {
    font-style: normal;
}

/* not sure if using this ...*/

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: transparent;
}

.navbar-inverse {
    background-color: var(--blue-xxx-dark);
    border-color: transparent;
}

#mysidebar .nav ul {
    background-color: var(--light-grey);
}

/*
a.dropdown-toggle.otherProgLangs {
    color: #f7e68f !important;
}
*/

span.muted {
    color: #666;
}

table code {
    background-color: transparent;
}

.highlight .err {
    color: #a61717;
    background-color: transparent !important;
}

table p {
    margin-top: 12px;
    margin-bottom: 12px;
}

pre, table code {
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}

pre {
    margin: 25px 0px;
}

#json-box-container pre {
    margin: 0px;
}

.video-js {
    margin: 30px 0px;
}

video {
    display: block;
    margin: 30px 0px;
    border: 1px solid #c0c0c0;
}

p.required, p.dataType {
    display: block;
    color: #c0c0c0;
    font-size: 80%;
    margin-left: 4px;
}

dd {
    margin-left: 20px;
}

.panel-heading {
    font-weight: bold;
}

.note code, .alert code, .warning code, div#toc code, h2 code, h3 code, h4 code {
    color: inherit;
    padding: 0px;
}

.alert {
    margin: 1.5em 0;
    ;
    border-color: transparent;
}

a.accordion-toggle {
    font-style: normal;
}

span.red {
    color: red;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

h3.codeExplanation {
    font-size: 18px;
    font-style: normal;
    color: black;
    line-height: 24px;
}

span.soft {
    color: #c0c0c0;
}

.githubEditButton {
    color: var(--cycle-red);
    border-color: transparent;
    margin-left: 12px;
    background-color: transparent;
    font-size: small;
}

.githubEditButton:hover {
    color: var(--cycle-red);
    border-color: transparent;
    background-color: var(--light-grey);
}

.endpoint {
    padding: 15px;
    background-color: #f0f0f0;
    font-family: courier;
    font-size: 110%;
    margin: 20px 0px;
    color: #444;
}

.parameter {
    font-family: courier;
    color: red !important;
}

.formBoundary {
    border: 1px solid gray;
    padding: 15px;
    margin: 15px 0px;
    background-color: var(--light-grey);
}

ul#mysidebar {
    margin-top: 20px;
}

@media (max-width: 992px) {
    #mysidebar {
        position: relative;
        max-width: 100%;
    }
}

@media (min-width: 1000px) {
    ul#mysidebar {
        width: 225px;
    }
}

.post-content img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.videoThumbs img {
    float: left;
    margin: 15px 15px 15px 0px;
    border: 1px solid #dedede;
}

/* no underline on anchor icons */

*:hover>.anchorjs-link {
    transition: color .25s linear;
    text-decoration: none;
}

.kbCaption {
    color: var(--white-text);
    background-color: #444;
    padding: 10px;
}

.btn-default {
    background-color: var(--light-grey);
    border: transparent;
}

.btn-default:hover {
    background-color: var(--primary-theme-color);
    border: transparent;
    color: var(--white-text)
}

.btn-primary {
    color: var(--white-text);
    background-color: var(--primary-theme-color);
    border-color: var(--primary-theme-color);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    border-color: var(--primary-theme-color);
}

/* algolia search */

.search {
    text-align: left;
}

.search input {
    font-size: 20px;
    width: 300px;
}

.results {
    margin: auto;
    text-align: left;
}

.results ul {
    list-style-type: none;
    padding: 0;
}

/* algolia */

div.results {
    position: absolute;
    background-color: white;
    width: 100%;
}

.post-meta {
    font-size: 14px;
    color: #828282;
}

.post-link {
    font-size: 22px;
}

.post-list p {
    margin: 10px 0px;
}

time {
    margin-right: 10px;
}

p.post-meta time {
    margin-right: 0px;
}

span.label.label-default {
    background-color: gray;
}

span.label.label-primary {
    background-color: #f0ad4e;
}

.col-lg-12 .nav li a {
    background-color: white
}

.nav li.active>a.subfoldersTitle {
    background-color: var(--light-grey);
    font-weight: bold;
    color: black;
}

a code {
    color: #248EC2;
}

code+a>code {
    margin-left: -7px;
}

table th code {
    color: white;
}

.post-content table th {
    vertical-align: top;
}

table thead th code.highlighter-rouge {
    background-color: transparent;
}

.box {
    padding: 10px;
    border: 1px solid #888;
    width: 100px;
    height: 80px;
    background-color: #f5f5f5;
    font-family: Arial;
    font-size: 12px;
    float: left;
    font-size: 12px;
}

.box:hover {
    background-color: #f0f0f0;
}

div.arrow {
    max-width: 50px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
}

div.content {
    max-width: 110px
}

/* 1 */

.ie9 img[src$=".svg"] {
    width: 100%;
}

/* 2 */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    img[src$=".svg"] {
        width: 100%;
    }
}

h4.panel-title {
    padding-top: 0px;
    margin-top: 0px;
}

/*set navbar breakpoint so that it converts to hamburger earlier */

@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left, .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-collapse.in {
        overflow-y: visible;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
        margin-bottom: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
}