title: RDMkit
# this appears in the html browser tab for the site title (seen mostly by search engines, not users)

description: "Best practices and guidelines you can use for FAIR management of your research data."
# Metadata description of the website

remote_theme: ELIXIR-Belgium/elixir-toolkit-theme@link-icon

sass:
  style: compressed
  sourcemap: never

gtag: G-RXQ55EFTTH
# Google analytics tag

matomo: https://webstats.elixir-europe.org/
# Matomo domain where Matomo is running
matomo_id: 2

dsw_deep_link_prefix: https://researchers.dsw.elixir-europe.org/knowledge-models/dsw:root:latest/preview?questionUuid=
# prefix for DSW deep links to a certain question

theme_variables:
  dev-info-banner: true
  topnav:
    theme: dark
  theme_color: c23669
  fonts:
    - https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap
    - https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap
  headings:
    resource-table-all-collapse: true

exclude:
  - README.md
  - .gitignore
  - var/
  - vendor
  - Gemfile*
  - LICENSE

defaults:
  -
    scope:
      path: ""
      type: "pages"
    values:
      permalink: /:basename
      layout: "page"
      sidebar: data_management
      search_exclude: false
  -
    scope:
      path: "pages/data_life_cycle/TEMPLATE_rdm_cycle.md"
      type: "pages"
    values:
      sitemap: false
      search_exclude: true
      no_robots: true
  -
    scope:
      path: "pages/national_resources/TEMPLATE_resources.md"
      type: "pages"
    values:
      sitemap: false
      search_exclude: true
      no_robots: true
  -
    scope:
      path: "pages/tool_assembly/TEMPLATE_tool_assembly.md"
      type: "pages"
    values:
      sitemap: false
      search_exclude: true
      no_robots: true
  -
    scope:
      path: "pages/your_domain/TEMPLATE_your_domain.md"
      type: "pages"
    values:
      sitemap: false
      search_exclude: true
      no_robots: true
  -
    scope:
      path: "pages/your_role/TEMPLATE_your_role.md"
      type: "pages"
    values:
      sitemap: false
      search_exclude: true
      no_robots: true
  -
    scope:
      path: "pages/your_tasks/TEMPLATE_your_tasks.md"
      type: "pages"
    values:
      sitemap: false
      search_exclude: true
      no_robots: true
  -
    scope:
      path: "pages/data_life_cycle/"
    values:
      type: Data_life_cycle
      type_img: /assets/img/section-icons/reuse-sustain.svg
  -
    scope:
      path: "pages/your_domain/"
    values:
      type: Your_domain
      type_img: /assets/img/section-icons/dna.svg
  -
    scope:
      path: "pages/your_tasks/"
    values:
      type: Your_tasks
      type_img: /assets/img/section-icons/tick.svg
  -
    scope:
      path: "pages/your_role/"
    values:
      type: Your_role
      type_img: /assets/img/section-icons/role-id.svg
  -
    scope:
      path: "pages/tool_assembly/"
    values:
      type: Tool_assembly
      type_img: /assets/img/section-icons/tool-assembly.svg
  -
    scope:
      path: "pages/national_resources/"
    values:
      type: National_resources
      type_img: /assets/img/section-icons/flag.svg
      datatable: true
  -
    scope:
      path: "pages/contribute"
    values:
      sidebar: contribute
  -
    scope:
      path: "pages/about"
    values:
      sidebar: about

scholar:
  style: _bibliography/nature_custom.csl

plugins:
  - elixir-toolkit-theme-plugins
  - jemoji
  - jekyll-redirect-from
  - jekyll-sitemap
  - jekyll-github-metadata
  - jekyll-octicons
  - jekyll-scholar
