title: RDMkit
# this appears in the html browser tab for the site title (seen mostly by search engines, not users)

topnav_title: 
# this appears on the top navigation bar next to the home button

description: "Find the answers to your Research Data Management questions in Life Sciences."
# Metadata description of the website

remote_theme: ELIXIR-Belgium/jekyll-bootstrap-theme@sidebar-memory
gtag: G-RXQ55EFTTH
# Google analytics tag

dsw_deep_link_prefix: https://converge.ds-wizard.org/knowledge-models/dsw:root-rdmkit:latest/preview?questionUuid=
# prefix for DSW deep links to a certain question

theme_variables:
  theme_color: c23669
  fonts:
    - https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap
    - https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap


defaults:
  -
    scope:
      path: ""
      type: "pages"
    values:
      permalink: /:basename:output_ext
      layout: "page"
      sidebar: data_management
      search_exclude: false
  -
    scope:
      path: "pages/data_life_cycle"
    values:
      type: data_life_cycle
  -
    scope:
      path: "pages/your_domain"
    values:
      type: your_domain
  -
    scope:
      path: "pages/your_tasks"
    values:
      type: your_tasks
  -
    scope:
      path: "pages/your_role"
    values:
      type: your_role
  -
    scope:
      path: "pages/tool_assembly"
    values:
      type: tool_assembly
  -
    scope:
      path: "pages/national_resources"
    values:
      type: national_resources
      datatable: true
  -
    scope:
      path: "pages/contribute"
    values:
      sidebar: contribute
  -
    scope:
      path: "pages/about"
    values:
      sidebar: about
