url: rdmkit.elixir-europe.org
repository: elixir-europe/rdmkit

# topnav_title:
# this appears on the top navigation bar next to the home button

site_title: RDMkit
# this appears in the html browser tab for the site title (seen mostly by search engines, not users)

company_name: ELIXIR Converge
# this appears in the page_ending

git_editme_path: https://github.com/elixir-europe/rdmkit/blob/master/
# if you're using Github, provide the basepath to the branch you've created for reviews, following the sample here. if not, leave this value blank.

description: "Find the answers to your Research Data Management questions in Life Sciences."
# Metadata description of the website

host: 127.0.0.1
# the preview server used. Leave as is.

port: 4000
# the port where the preview is rendered. You can leave this as is unless you have other Jekyll builds using this same port that might cause conflicts. in that case, use another port such as 4006.

gtag: G-RXQ55EFTTH
# Google analytics tag

exclude:
  - .gitignore
  - CODEOWNERS
  - var/
  - README.md
  - vendor
  - Gemfile*
  - LICENSE

markdown: kramdown
highlighter: rouge
kramdown:
 input: GFM
 auto_ids: true
 hard_wrap: false

defaults:
  -
    scope:
      path: ""
      type: "pages"
    values:
      permalink: /:basename:output_ext
      layout: "page"
      sidebar: main
      topnav: topnav
  -
    scope:
      path: "pages/rdm_cycle"
    values:
      type: rdm_cycle
  -
    scope:
      path: "pages/your_domain"
    values:
      type: your_domain
  -
    scope:
      path: "pages/your_problem"
    values:
      type: your_problem
  -
    scope:
      path: "pages/your_role"
    values:
      type: your_role
  -
    scope:
      path: "pages/tool_assembly"
    values:
      type: tool_assembly
plugins:
  - jemoji
