url: rdmkit.elixir-europe.org
repository: elixir-europe/rdmkit

# topnav_title:
# this appears on the top navigation bar next to the home button

site_title: RDMkit
# this appears in the html browser tab for the site title (seen mostly by search engines, not users)

company_name: ELIXIR Converge
# this appears in the page_ending

git_editme_path: https://github.com/elixir-europe/rdmkit/blob/master/
# if you're using Github, provide the basepath to the branch you've created for reviews, following the sample here. if not, leave this value blank.

description: "Find the answers to your Research Data Management questions in Life Sciences."
# Metadata description of the website

host: 127.0.0.1
# the preview server used. Leave as is.

port: 4000
# the port where the preview is rendered. You can leave this as is unless you have other Jekyll builds using this same port that might cause conflicts. in that case, use another port such as 4006.

gtag: G-RXQ55EFTTH
# Google analytics tag

exclude:
  - .gitignore
  - CODEOWNERS
  - var/
  - README.md
  - vendor

feedback_subject_line: RDMkit feedback

contact_email: rdm-editors@elixir-europe.org
# used as a contact email for the Feedback link in the top navigation bar

# feedback_disable: true
# if you uncomment the previous line, the Feedback link gets removed

feedback_text: "Give feedback"
# if you uncomment the previous line, it changes the Feedback text

markdown: kramdown
highlighter: rouge
kramdown:
 input: GFM
 auto_ids: true
 hard_wrap: false

defaults:
  -
    scope:
      path: ""
      type: "pages"
    values:
      permalink: /:basename:output_ext
      layout: "page"
      search: true
      sidebar: main
      topnav: topnav

RDM_pages: ["/reusing.html", "/preserving.html", "/analysing.html", "/processing.html", "/planning.html", "/collecting.html", "/sharing.html"]

plugins:
  - jemoji

search:
  # Split pages into sections that can be searched individually
  # Supports 1 - 6, default: 2
  heading_level: 2
  # Maximum amount of previews per search result
  # Default: 3
  previews: 2
  # Maximum amount of words to display before a matched word in the preview
  # Default: 5
  preview_words_before: 3
  # Maximum amount of words to display after a matched word in the preview
  # Default: 10
  preview_words_after: 3
  # Set the search token separator
  # Default: /[\s\-/]+/
  # Example: enable support for hyphenated search words
  tokenizer_separator: /[\s/]+/
  # Display the relative url in search results
  # Supports true (default) or false
  rel_url: true
  # Enable or disable the search button that appears in the bottom right corner of every page
  # Supports true or false (default)
  button: false
