# This is a comment.
# Each line is a file pattern followed by one or more owners.

# General website
*       @bedroesb

# Contribute
/pages/contribute       @floradanna @bedroesb
CONTRIBUTING.md       @floradanna @bianchini88

# Different Sections
/pages/your_tasks       @floradanna @nazeeefa @diana-pilvar
/pages/your_role       @smza @GilOliveira @marikapop
/pages/data_life_cycle       @wittigue @smza @marikapop
/pages/tool_assembly       @korbinib @bianchini88
/pages/your_domain       @bianchini88 @GilOliveira @floradanna
/pages/national_resources       @nazeeefa @diana-pilvar

#About
/pages/about/about.md       @frederikcoppens @CaroleGoble
CODE_OF_CONDUCT.md       @frederikcoppens @CaroleGoble


#Theme
/assets @bedroesb
/_sass @bedroesb

# Sidebar
/_data/sidebars/*      @bedroesb

# Tools and resources
/_data/tool*     @wittigue @bedroesb
