# This is a comment.
# Each line is a file pattern followed by one or more owners.

# General website
*       @bedroesb

# Contribute
/pages/contribute       @floradanna @bedroesb
/pages/contribute/copyright.md
/pages/contribute/style_guide.md
CONTRIBUTING.md       @floradanna

# Different Sections
/pages/your_tasks       @floradanna @nazeeefa @marikapop @diana-pilvar
/pages/your_role       @smza @GilOliveira
/pages/data_life_cycle       @wittigue @floradanna @smza @marikapop
/pages/tool_assembly       @korbinib @bianchini88
/pages/your_domain       @bianchini88 @GilOliveira
/pages/national_resources       @nazeeefa @diana-pilvar

#About
/pages/about/about.md       @frederikcoppens @CaroleGoble
/pages/about/accessibility.md
/pages/about/privacy.md
CODE_OF_CONDUCT.md       @frederikcoppens @CaroleGoble


#Theme
/assets @bedroesb
/_sass @bedroesb

# Sidebar
/_data/sidebars/*      @bedroesb

# Tools and resources
/_data/tool*     @wittigue @bedroesb
