# This is a comment.
# Each line is a file pattern followed by one or more owners.

# General website
*       @bedroesb

# Contribute
/pages/contribute       @floradanna @bedroesb
/pages/contribute/copyright.md       @martin-nc
/pages/contribute/style_guide.md       @martin-nc
CONTRIBUTING.md       @floradanna

# Different Sections
/pages/your_tasks       @DanFaria @floradanna @nazeeefa @marikapop @diana-pilvar
/pages/your_role       @smza 
/pages/data_life_cycle       @wittigue @floradanna @smza @marikapop
/pages/tool_assembly       @korbinib @bianchini88
/pages/your_domain       @DanFaria @bianchini88 @lauportell
/pages/national_resources       @lauportell @nazeeefa @diana-pilvar

#About
/pages/about/about.md       @frederikcoppens @CaroleGoble
/pages/about/accessibility.md       @martin-nc
/pages/about/privacy.md       @martin-nc
CODE_OF_CONDUCT.md       @frederikcoppens @CaroleGoble


#Theme
/assets       @martin-nc @bedroesb
/_sass       @martin-nc @bedroesb

# Sidebar
/_data/sidebars/*      @bedroesb

# Tool and resources
/_data/tool*     @wittigue @bedroesb
