{%- assign allcontributors = site.data.CONTRIBUTORS -%}
{%- assign contributors = include.contributors |sort -%}
{%- for name in contributors | sort -%}{% assign id = allcontributors[name].git | default: 'no_github' -%}
{%- if id != 'no_github' %}
<a role="button" class="meta-obj" href="https://github.com/{{ id }}">
{%- else %}
<a class="meta-obj-false">
{%- endif %}
{%- if allcontributors[name].image_url %}
<img class="contributor-badge" src="{{ allcontributors[name].image_url }}"  alt="{{ name }}">{{ name }}
{%- else %}
<img class="contributor-badge" src="https://avatars.githubusercontent.com/{{ id }}" alt="Avatar of the contributor {{ name }}">{{ name }}
{%- endif %}

</a>
{% endfor -%}
