{%- if page.contributors %}
<div class="p-4 bg-light rounded-3 mt-4">
    {%- assign allcontributors = site.data.CONTRIBUTORS -%}
    {%- assign contributors = page.contributors |sort -%}
    <b>Contributors: </b> 
    {%- for name in contributors | sort -%}{% assign id = allcontributors[name].git | default: 'no_github' -%}
    {%- if id != 'no_github' %}
    {%- capture html_code%}
    <div class="d-flex justify-content-center">
        <img class="img-fluid rounded-circle contributor-badge" src="https://avatars.githubusercontent.com/{{ id }}" alt="Avatar of the contributor {{ name }}">
    </div>
    <div class="d-flex mt-2 justify-content-center">
        {%- if allcontributors[name].git %}
        <div class="mx-1"><a class="btn btn-secondary rounded-circle" href="https://github.com/{{id}}"><i class="fab fa-github"></i></a></div>
        {%- endif %}
        {%- if allcontributors[name].email %}
        <div class="mx-1"><a class="btn btn-secondary rounded-circle" href="mailto:{{allcontributors[name].email}}"><i class="fas fa-envelope"></i></a></div>
        {%- endif %}
        {%- if allcontributors[name].orcid %}
        <div class="mx-1"><a class="btn btn-secondary rounded-circle" href="https://orcid.org/{{allcontributors[name].orcid}}"><i class="fab fa-orcid"></i></a></div>
        {%- endif %}
      </div>    
      {%- endcapture %}
    <button type="button" class="btn btn-secondary" data-bs-html='true' data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content='{{html_code}}'  title="{{ name }}">
        {{ name }}
      </button>
    {%- endif %}
    {% endfor -%}
</div>
{%- endif %}


<!-- 

    {%- if allcontributors[name].image_url %}
    <img class="contributor-badge" src="{{ allcontributors[name].image_url }}"  alt="{{ name }}">{{ name }}
    {%- else %}
    <img class="contributor-badge" src="https://avatars.githubusercontent.com/{{ id }}" alt="Avatar of the contributor {{ name }}">{{ name }}
    {%- endif %}

 -->