<div style="padding: 0.5em; text-align:center; word-break: break-all; word-wrap: break-word; background-color: orange; font-size: 85%;">
    Development build for <a href="{{ site.github.repository_url }}/commit/{{ site.github.build_revision }}" target="_blank"><b>{{ site.github.repository_nwo }}@{{ site.github.build_revision | slice: 0, 7 }}</b></a> (branch: <a href="{{ site.github.repository_url }}/tree/{{ site.github.source.branch }}" target="_blank"><b>{{ site.github.source.branch }}</b></a>)
</div>
