<ul class="list-unstyled w-100">
    {%- assign events = site.data.events | reverse %}
    {%- for event in events %}
    <li class='upcoming-event' data-start='{{ event.start_date}}'>
      <h4 class="mt-1"><a href="{{ event.url }}">{{ event.title | escape }}</a></h4>
      <p class="text-muted mb-4">
       <i class="far fa-calendar me-2"></i><time datetime="{{ event.start_date | date_to_xmlschema }}">
        {{ event.start_date | date: site.event_date_format }}
        </time>{%- if event.end_date -%}- <time datetime="{{ event.end_date | date_to_xmlschema }}">
        {{ event.end_date | date: site.event_date_format }}</time>
        {%- if event.location -%}
        <br><i class="fas fa-map-marker-alt me-2"></i> {{ event.location }}{%- endif -%}
        {%- endif -%}
      </p>      
    </li>
    {%- endfor %}
</ul>
<script>
  $(document).ready(function() {
    showUpcomingEvents();
  });
</script>
<hr>
<ul class="list-unstyled w-100">
    {%- assign events = site.events | reverse %}
    {%- for event in events %}
    <li class='past-event' data-start='{{ event.start_date}}'>
      <h4 class="mt-1"><a href="{{ event.url }}">{{ event.title | escape }}</a></h4>
      <p class="text-muted mb-4">
       <i class="far fa-calendar me-2"></i><time datetime="{{ event.start_date | date_to_xmlschema }}">
        {{ event.start_date | date: site.event_date_format }}
        </time>{%- if event.end_date -%}- <time datetime="{{ event.end_date | date_to_xmlschema }}">
        {{ event.end_date | date: site.event_date_format }}</time>
        {%- if event.location -%}
        <br><i class="fas fa-map-marker-alt me-2"></i> {{ event.location }}{%- endif -%}
        {%- endif -%}
      </p>      
    </li>
    {%- endfor %}
</ul>
<script>
  $(document).ready(function() {
    showPastEvents();
  });
</script>