<footer id="footer" class="bg-dark text-white">
    <div class="container py-1 py-4">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6">
                <img class="company-image" width="120px;" src="{{ 'assets/img/converge_logo_inverted.svg' | relative_url }}" alt="ELIXIR converge logo"/>
            </div>
            <div class="col-lg-3 col-sm-6">
                <ul class="mb-0">
                    <li><a href="{{ '/contributors.html' | relative_url }}">Contributors</a></li>
                    <li><a href="https://elixir-europe.org/about-us/how-funded/eu-projects/converge">ELIXIR-CONVERGE</a></li>
                    <li>Contributions from the 23 ELIXIR Nodes<br></li>
                    <li><a href="{{ '/support.html' | relative_url }}">Institutes, projects and funders</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6">
                <ul class="mb-0">
                    <li><a href="{{ '/about.html' | relative_url }}">About</a></li>
                    <li><a href="{{ '/contact.html' | relative_url }}">Contact</a></li>
                    <li><a href="{{ '/accessibility.html' | relative_url }}">Accessibility</a></li>
                    <li><a href="{{ '/privacy.html' | relative_url }}">Privacy</a></li>
                </ul>

            </div>
            <div class="col-lg-3 col-sm-6 d-flex justify-content-between align-items-center">
                <img src="{{ 'assets/img/Flag_of_Europe.svg' | relative_url }}" alt="European flag" height="70px"/>
                <img src="{{ 'assets/img/RDMkit_logo_condensed_inverted.svg' | relative_url }}" alt="RDMkit logo condensed" width="88px">
            </div>
        </div>
        <div class="row">
            <div class="text-center pt-4">
                <p class="mb-0">Recommended in the <a href="https://ec.europa.eu/info/funding-tenders/opportunities/docs/2021-2027/horizon/guidance/programme-guide_horizon_en.pdf">Horizon Europe Program Guide</a> as the "resource for Data Management guidelines and good practices for the Life Sciences"</p>
            </div>
        </div>
    </div>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.2);"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License"
        width="70px" src="https://i.creativecommons.org/l/by/4.0/88x31.png"/></a>
        <span
        xmlns:dct="http://purl.org/dc/terms/" property="dct:title">RDMkit</span> by <a
        xmlns:cc="http://creativecommons.org/ns#"
        href="https://elixir-europe.org/about-us/how-funded/eu-projects/converge"
        property="cc:attributionName" rel="cc:attributionURL">ELIXIR-CONVERGE</a> is licensed under a <a
        rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons
        Attribution 4.0 International License</a>, except where otherwise noted.
    </div>
</footer>
