<footer id="footer" class="text-white">
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-3 col-sm-6 mb-4 mb-md-0">
                <img class="company-image" width="120px;" src="images/logos/converge_logo_inverted.svg" alt="Company logo"/>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 mb-md-0">
                <h6>Acknowledgements</h6>
                <p class="text-justify">
                    <a href="https://elixir-europe.org/about-us/how-funded/eu-projects/converge">ELIXIR-CONVERGE</a><br>
                    Contributions from the 23 ELIXIR Nodes<br>
                </p>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 mb-md-0">
                <h6>Feel free to contact us:</h6>
                <p class="text-justify">
                    <a href="mailto:{{ site.contact_email }}">{{ site.contact_email }}</a>
                </p>    
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 mb-md-0">
                <img class="europe-flag" src="images/logos/Flag_of_Europe.svg" alt="Company logo"/>
                
            </div>
        </div>
    </div>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.2);"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License"
        width="70px" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
        <span
        xmlns:dct="http://purl.org/dc/terms/" property="dct:title">RDMKit</span> by <a
        xmlns:cc="http://creativecommons.org/ns#"
        href="https://elixir-europe.org/about-us/how-funded/eu-projects/converge"
        property="cc:attributionName" rel="cc:attributionURL">ELIXIR-CONVERGE</a> is licensed under a <a
        rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons
        Attribution 4.0 International License</a>, except where otherwise noted.
    </div>
</footer>
