{%- for section in page.related_pages %}
{%- unless section[1].size == 0  %}
{%- assign actual_related = 1 %}
{%- endunless %}
{%- endfor %}
{%- if actual_related != blank or page.faircookbook or page.fairsharing or page.training %}
<!-- More information -->
<h2>More information</h2>

<div class="row row-cols-1 row-cols-md-2 g-4 mt-2">
    {%- if page.related_pages %}
    <!-- Related pages -->
    {%- for section in page.related_pages %}
    {%- unless section[1] == blank  %}
    <div class="col">
        <div class="card h-100 info-card bg-light">
            <div class="card-header bg-dark fw-bold text-white">Related RDMkit pages in "{{ section[0] | replace: "_", " " | capitalize }}"</div>
            <div class="card-body">
                <ul class="list-unstyled">
                    {%- for page_id in section[1] %}
                    {%- assign section_pages = site.pages | where:"type", section[0] %}
                    {%- assign metadata = section_pages | where:"page_id", page_id %}
                    {%- for page_hit in metadata %}
                    <li class="d-grid">
                        <a class="btn bg-white hover-primary text-start" href="{{ page_hit.url | relative_url }}"><span>{{page_hit.title}}{% if page_hit.description %}</span><br><small class="text-muted">{{ page_hit.description | capitalize }}</small>{% endif %}</a>
                    </li>
                    {%- endfor %}
                    {%- endfor %}
                </ul>
            </div>
        </div>
    </div>
    {%- endunless %}
    {%- endfor %}
    {%- endif %}
    {%- if page.training %}
    <!-- Training -->
    <div class="col">
        <div class="card h-100 info-card bg-light">
            <div class="card-header bg-dark fw-bold text-white">Training</div>
            <div class="card-body">
                <ul class="list-unstyled">
                    {%- for training in page.training %}
                    <li class="d-grid">
                        <a class="btn bg-white hover-primary text-start" href="{{ training.url }}">
                            <div class="row g-1">
                                <div class="col-2 d-flex align-items-center justify-content-center">
                                    {%- if training.registry == "TeSS" %}
                                    <img alt="TeSS logo" class="img-fluid h-75" src="assets/img/tess_logo.svg">
                                    {%- else %}
                                    <i class="fas fa-external-link-alt text-primary fs-5"></i>
                                    {%- endif %}
                                </div>
                                <div class="col-10 d-flex align-items-center">
                                    <span class="text-start">{{training.name}}</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    {%- endfor %}
                </ul>
            </div>
        </div>
    </div>
    {%- endif %}
    {%- if page.faircookbook or page.fairsharing %}
    <!-- FAIR Cookbook and FAIRsharing -->
    <div class="col">
        <div class="card h-100 info-card bg-light">
            <div class="card-header bg-dark fw-bold text-white">Links to other ELIXIR resources</div>
            <div class="card-body">
                <ul class="list-unstyled">
                    {%- if page.faircookbook %}
                    {%- for recipe in page.faircookbook %}
                    <li class="d-grid">
                        <a class="btn bg-white hover-primary text-start" href="{{ recipe.url }}">
                            <div class="row g-1">
                                <div class="col-2 d-flex align-items-center justify-content-center">
                                    <img alt="FAIR Cookbook logo" class="img-fluid h-75" src="assets/img/fairplus.svg">
                                </div>
                                <div class="col-10 d-flex align-items-center">
                                    <span class="text-start">FAIR Cookbook recipe for "{{recipe.name}}"</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    {%- endfor %}
                    {%- endif %}
                    <!-- {%- if page.fairsharing %}
                    <li class="d-grid">
                        <a class="btn bg-white hover-primary text-start" href="{{ page.fairsharing }}">
                            <div class="row g-1">
                                <div class="col-2 d-flex align-items-center justify-content-center">
                                    <img alt="fairsharing logo" class="img-fluid h-75" src="assets/img/FAIRsharing-small.svg">
                                </div>
                                <div class="col-10 d-flex align-items-center">
                                    <span class="text-start">FAIRsharing collection about {{page.title}}</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    {%- endif %} -->
                </ul>
            </div>
        </div>
    </div>
    {%- endif %}
</div>
{%- endif %}
{%- if page.page_id %}
<!-- Tool table -->
{%- assign main_related_pages = site.data.tool_and_resource_list.Tools | where:"related_pages", page.page_id -%}
{%- unless main_related_pages == blank %}
<h2>Relevant tools and resources</h2>
{% include toollist.html tag=page.page_id %}
{%- endunless %}
{%- endif %}
