<figure class="{% if {{include.inline}} == true %}my-0{% else %}my-4{%- endif %} {% if {{include.class}} %}{{include.class}}{%- endif %}">
    {%- capture file_url -%}
    {{ "/images/" | append:include.file | relative_url }}
    {%- endcapture -%}
    {%- if {{include.url}} %}
    <a target="_blank" rel="noopener" href="{{include.url}}">
    {%- elsif {{include.click}} == true %}
    <a target="_blank" rel="noopener noreferrer" href="{{file_url}}">
    {%- endif %}
    <img src="{{file_url}}" alt="{{include.alt}}" class="figure-img img-fluid rounded"/>
    {%- if {{include.url}} or {{include.click}} == true %}
    </a>
    {%- endif %}
    {%- if {{include.caption}} %}
    <figcaption class="figure-caption">
    {{include.caption}}
    </figcaption>
    {%- endif %}
{%- if {{include.inline}} != true %}
</figure>
{%- endif %}
