<div class="blurb-title">
    Are you working in the Life Sciences with data? Do you feel overwhelmed when you think about Research Data Management?
</div>
<p>The ELIXIR Research Data Management Kit (RDMKit) is an online guide containing good data management practices applicable to research projects from the
    beginning to the end. Developed and managed by people who work every day with life science data, RDMKit has
    guidelines, information and pointers, organised in many different ways to help you with problems throughout
    the data’s life cycle.
</p>
<br>

<p class="centered mb-2"><strong>Find resources by clicking on the RDM data lifecycle</strong></p>
<div class="ratio main_rdm">
    <object type="image/svg+xml" data="images/RDM_circle_final4.svg"></object>
</div>

<p>Or find resources by:</p>
<div  id="home-boxes" class="row gx-2 gy-5 align-items-start">
    {% assign i = 1 %}
    {% assign sidebar = site.data.sidebars[page.sidebar] %}
    {% for folder in sidebar.subitems %}
      {% if folder.title != "Data life cycle" and folder.title != "All tools and resources" %}
      <div class="dropdown col">
          <a class="dropdown-toggle" type="button" id="dropdownMenuButton{{ i }}" data-bs-toggle="dropdown" aria-expanded="false">{{folder.title}}</a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ i }}">
              {% for folderitem in folder.subitems %}
              <li><a href="{{folderitem.url | relative_url }}">{{folderitem.title}}</a></li>
              {% endfor %}
          </ul>
      </div>
      {% assign i = i | plus:1 %}
      {% endif %}
      {% if folder.title == "All tools and resources" %}
      <div class="dropdown col">
        <a type="button" href="{{ 'all_tools_and_resources.html' | relative_url }}">
          All tools and resources
        </a>
      </div>
      {% endif %}
    {% endfor %}
</div>
