{%- assign alllogos = site.data.affiliations %}
<div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 g-5 my-3">
    {%- assign filtered_logos = alllogos | where: "type", include.type %}
    {%- for affiliation in filtered_logos %}
    {%- if affiliation.image_url and affiliation.rdmkit_about == true %}
    <div class="col">
      <div class="card h-100">
          <div class="my-auto">
            {% if affiliation.url %}<a href="{{ affiliation.url }}">{% endif %}<img class="card-img-top" src="{{ affiliation.image_url | relative_url }}"  alt="{{ affiliation.name }}">{%- if affiliation.url %}</a>{% endif %}
        </div>
      </div>
    </div>
    {%- endif %}
    {%- endfor %}
</div>
