<div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
    {%- for page in site.pages | sorted %}
    {%- if page.title and page.search_exclude != true and page.type == include.type %}
    <div class="col">
        <div class="card h-100">
            <div class="card-header">
                <h3 class="card-title no-anchor my-1">{{page.title}}</h3>
            </div>
            <div class="card-body">
                {%- if page.summary %}
                <p class="card-text">{{ page.summary}}</p>
                {%- endif %}
                <ul>
                    {%- if page.page_tag != null %}
                    <li><b>Tools: </b>
                        {%- assign all_tools = site.data.tool_and_resource_list %}
                        {%- assign tools = all_tools.Tools | where_exp:"tool", "tool.tags contains page.page_tag" -%}
                        {%- for tool in tools %}
                        <a href="{{ tool.link }}" class="meta-obj">{{tool.name}}</a>
                        {%- endfor %}
                    </li>
                    {%- endif %}
                </ul>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="{{ page.url | relative_url }}">Go to page </a>
            </div>
        </div>
    </div>
    {%- endif %}
    {%- endfor %}
</div>