{% assign recources = site.data.recources_list %}
<table class="tooltable display">
    <thead>
        <tr>
            <th>Recource</th>
            <th>Description</th>
            <th>Tags</th>
            <th>FAIRsharing</th>
        </tr>
    </thead>
    <tbody>
        {% if include.tags == "print_all" %}
        {% for recource in recources.Recources %}
        <tr>
            {% if recource.link %}
            <td><a class="no_icon" href="{{recource.link}}">{{recource.name}}</a></td>
            {% else %}
            <td>{{recource.name}}</td>
            {% endif %}
            <td>{{recource.description}}</td>
            <td>{{ recource.tags | join: ", " }}</td>
            {% if recource.fairsharingid %}
            <td style="text-align: center; vertical-align: middle;"><a data-toggle="tooltip"
                    data-original-title="FAIRsharing ID: {{recource.fairsharingid}}" href="https://fairsharing.org/FAIRsharing.{{recource.fairsharingid}}"
                    class="no_icon"><i class="fa fa-check-circle" style="font-size: x-large;"></i></a></td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
        {% else %}
        {% for recource in recources.Recources %}
        {% if recource.tags contains include.tag %}
        <tr>
            {% if recource.link %}
            <td><a class="no_icon" href="{{recource.link}}">{{recource.name}}</a></td>
            {% else %}
            <td>{{recource.name}}</td>
            {% endif %}
            <td>{{recource.description}}</td>
            <td>{{ recource.tags | join: ", " }}</td>
            {% if recource.fairsharingid %}
            <td style="text-align: center; vertical-align: middle;"><a data-toggle="tooltip"
                    data-original-title="FAIRsharing ID: {{recource.fairsharingid}}" href=""
                    class="no_icon"><i class="fa fa-check-circle" style="font-size: x-large;"></i></a></td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        {% endif %}
        {% endfor %}
        {% endif %}
    </tbody>
</table>
