<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "{{ site.title }}",
        "url": "{{ site.url }}",
        "about": "{{ site.description }}"{% if page.contributors %},
        {%- assign contributors = site.data.CONTRIBUTORS %}
        {%- assign contributor_count = page.contributors.size %}
        {%- assign count = 1 %}
        "author": [
            {%- for people in page.contributors %}
            {
                "@type": "Person",
                {%- if contributors[people].orcid %}
                "@id": "https://orcid.org/{{contributors[people].orcid}}",
                "mainEntityOfPage": "https://orcid.org/{{contributors[people].orcid}}",
                {%- endif %}
                {%- if contributors[people].affiliation %}
                "affiliation": {
                    "@type": "Organization",
                    "name": "{{contributors[people].affiliation}}"
                },
                {%- endif %}
                {%- if contributors[people].email %}
                "email": "{{contributors[people].email}}",
                {%- endif %}
                {%- if contributors[people].git %}
                "url": "https://github.com/{{contributors[people].git}}",
                "image": "https://avatars.githubusercontent.com/{{contributors[people].git}}",
                {%- endif %}
                {%- if contributors[people].role %}
                "jobTitle": "{{contributors[people].role}}",
                {%- endif %}
                "name": "{{people}}"
            }{% unless count == contributor_count - 1 %},{% endunless %}
            {%- assign count = count | plus:1 %}
            {%- endfor %}
        ]
        {%- endif %}
    }
</script>
