<div class="TeSS-button">
  {%- if {{include.search}} %}
  <a role="button" data-bs-toggle="tooltip" title="TeSS Search: {{include.search}}"
    href="https://tess.elixir-europe.org/search?q={{include.search}}">
    Topic related training:
    <img class="tess_logo" src="{{ 'assets/img/tess_logo.svg' | relative_url }}" alt="TeSS logo" />
  </a>
  {%- elsif {{include.material}} %}
  <a role="button" data-bs-toggle="tooltip" title="TeSS Material: {{include.material}}"
    href="https://tess.elixir-europe.org/materials/{{include.material}}">
    Topic related training:
    <img class="tess_logo" src="{{ 'assets/img/tess_logo.svg' | relative_url }}" alt="TeSS logo" />
  </a>
  {%- endif %}
</div>
