{%- if {{include.search}} %}
<div class="margin-link">
<a class="no_icon nohover orange-snip" role="button" data-toggle="tooltip" title="TeSS Search: {{include.search}}"
  href="https://tess.elixir-europe.org/search?q={{include.search}}">
  Topic related training:
  <img class="tess_logo" src="images/tess_logo.svg" alt="TeSS logo" />
</a>
</div>
{%- elsif {{include.material}} %}
<div class="margin-link">
<a class="no_icon nohover orange-snip" role="button" data-toggle="tooltip" title="TeSS Material: {{include.material}}"
  href="https://tess.elixir-europe.org/materials/{{include.material}}">
  Topic related training:
  <img class="tess_logo" src="images/tess_logo.svg" alt="TeSS logo" />
</a>
</div>
{%- endif %}
