{%- assign tools = site.data.tool_and_resource_list.Tools | where:"related_pages", include.tag %}
{%- unless tools == blank %}
<a class="visually-hidden-focusable" href='#skip-tool-table'>Skip tool table</a>
<div class="table-responsive mt-4 mb-5">
    <table id="tooltable" class="table display">
        <thead>
            <tr>
                <th>Tool or resource {%- if include.tag -%}
                    <a data-bs-toggle="tooltip" data-bs-original-title="This is a curated list which means that not all tools or resources that exist for this topic are listed here. This is mainly because we do not intend to be a registry. In most cases you will only find back the tools or resources that are mentioned in this page.">
                        <i class="fas fa-info-circle"></i>
                    </a>{%- endif %}
                </th>
                <th>Description</th>
                <th>Related pages</th>
                <th>Registry {%- if include.tag -%}
                    <a data-bs-toggle="tooltip" data-bs-original-title="Links to related information in ELIXIR registries: related policies and standards in FAIRsharing, scientific and technical descriptions of the resource in bio.tools, and related training in TeSS.">
                        <i class="fas fa-info-circle"></i>
                    </a>{%- endif %}
                </th>
            </tr>
        </thead>
        <tbody>
            {%- for tool in tools | sort %}
            <tr>
                {%- assign total_county_tools = 0 %}
                {%- assign instances_tool = 0 %}
                {%- assign query = "related_pages." | append: page.type %}
                {%- assign country_pages = site.pages | where: "type", "national_resources" | where: "search_exclude", "false" %}
                {%- for country_page in country_pages %}
                {%- assign instance_matches = country_page.resources | where: "instance_of", tool.name | where: query, include.tag %}
                {%- assign tool_matches = country_page.resources | where: query, include.tag %}
                {%- unless tool_matches == blank %}
                {%- assign total_county_tools = total_county_tools | plus: tool_matches.size %}
                {%- endunless %}
                {%- unless instance_matches == blank %}
                {%- assign instances_tool = instances_tool | plus: instance_matches.size %}
                {%- endunless %}
                {%- endfor %}
                {% if tool.link %}
                <td><a href="{{tool.link}}">{{tool.name}}</a></td>
                {%- else %}
                <td>{{tool.name}}</td>
                {%- endif %}
                <td>{{tool.description}}
                {%- unless instances_tool == 0 or total_county_tools == 0 %}
                <a href="#national-resources-button" class="d-block">
                <span class="badge text-white bg-primary"><i class="fas fa-arrow-circle-down me-2"></i>Different instances available</span>
                </a>
                {%- endunless %}
                </td>
                {%- capture related_pages %}
                {%- for tag in tool.related_pages %}
                {%- unless tag == page.page_id %}
                {%- assign related_page = site.pages | where:"page_id",tag | first %}
                <a href="{{related_page.url | relative_url }}"><span class="badge default-badge">{{related_page.title}}</span></a>
                {%- endunless %}
                {%- endfor %}
                {%- endcapture %}
                <td>{{related_pages}}</td>
                <td class="align-middle text-center">
                {%- if tool.registry.biotools %}
                <a data-bs-toggle="tooltip"
                    data-bs-original-title="Find a scientific and technical description of the resource" href="https://bio.tools/{{tool.registry.biotools}}"
                    ><span class="badge registry_badge">bio.tools</span></a>
                {%- endif %}
                {%- if tool.registry.fairsharing %}
                <a data-bs-toggle="tooltip"
                    data-bs-original-title="Find related policies and standards" href="https://fairsharing.org/FAIRsharing.{{tool.registry.fairsharing}}"
                    ><span class="badge registry_badge">FAIRsharing</span></a>
                {%- endif %}
                {%- if tool.registry.fairsharing-coll %}
                <a data-bs-toggle="tooltip"
                    data-bs-original-title="Find related policies and standards" href="https://fairsharing.org/{{tool.registry.fairsharing-coll}}"
                    ><span class="badge registry_badge">FAIRsharing</span></a>
                {%- endif %}
                {%- if tool.registry.tess %}
                <a data-bs-toggle="tooltip"
                    data-bs-original-title="Find training for this resource" href="https://tess.elixir-europe.org/search?q={{tool.registry.tess}}" 
                    ><span class="badge registry_badge">TeSS</span></a>
                {%- endif %}
                </td> 
            </tr>
            {%- endfor %}
            {%- unless total_county_tools == 0 or include.tag == blank %}
            <tr class="collapse multi-collapse bg-light" id="resource_title"><td colspan="4"><b>National resources</b></td></tr>
            {%- endunless %}
            {%- assign hide_ids = "resource_title" %}
            {%- for country_page in country_pages %}
            {%- assign tool_matches = country_page.resources | where: query, include.tag %}
            {%- for tool in tool_matches %}
            {%- assign tool_id = tool.name | slugify %}
            {%- assign hide_ids = hide_ids | append: " " | append: tool_id %}
            <tr class="collapse multi-collapse" id="{{tool_id}}">
                {% if tool.url %}
                <td><a href="{{tool.url}}">{{tool.name}}</a><a href="{{country_page.url}}" data-bs-toggle="tooltip" title="{{country_page.title}}"><span class="flag-icon ms-2 flag-icon-{{country_page.country_code | downcase }}"></span></a></td>
                {%- else %}
                <td>{{tool.name}}<a href="{{country_page.url}}"><span class="flag-icon ms-2 flag-icon-{{country_page.country_code | downcase }}"></span></a></td>
                {%- endif %}
                <td>{{tool.description | markdownify }}
                    {%- if tool.instance_of or tool.how_to_access %}
                    <div class="d-block">
                        <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="This resource is an instance of {{tool.instance_of}}"><span class="badge text-primary border border-primary">{{tool.instance_of}}</span></span>
                        {%- if tool.how_to_access %}
                        <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="{{tool.how_to_access}}"><span class="badge text-primary border border-primary">  <i class="fas fa-key"></i></span></span>
                        {%- endif %}
                    </div>
                    {%- endif %}
                </td>
                {%- capture related_pages %}
                {%- for section in tool.related_pages %}
                {%- for tag in section[1] %}
                {%- unless tag == page.page_id %}
                {%- assign related_page = site.pages | where:"page_id",tag | first %}
                <a class="nohover" href="{{related_page.url | relative_url }}"><span class="badge default-badge">{{related_page.title}}</span></a>
                {%- endunless %}
                {%- endfor %}
                {%- endfor %}
                {%- endcapture %}
                <td>{{related_pages}}</td>
                <td></td>
            </tr>
            {%- endfor %}
            {%- endfor %}
        </tbody>
    </table>
</div>
{%- unless total_county_tools == 0 %}
<a class="btn btn-primary" id="national-resources-button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" role="button" aria-expanded="false" aria-controls="{{hide_ids}}">
    View national resources <span class="badge bg-white text-primary ms-2">{{total_county_tools}}</span>
  </a>
{%- endunless %}
<div id="skip-tool-table"></div>
{%- endunless %}
