{%- assign tools = site.data.tool_and_resource_list -%}
{%- assign allowedtags = site.data.tags -%}
{%- assign main_tags = tools.Tools -%}
{%- if include.tag -%}
{%- assign main_tags = tools.Tools | where_exp:"tool", "tool.tags contains include.tag" -%}
{%- endif -%}
{%- if include.tag2 -%}
{%- assign main_tags = main_tags | where_exp:"tool", "tool.tags contains include.tag2" -%}
{%- endif -%}
{%- if main_tags == blank %}
The tag "{{ include.tag }}" has not yet related tools or resources.
{%- else%}
<table id="tooltable" class="display">
    <thead>
        <tr>
            <th>Tool or resource {%- if include.tag or include.tag2 -%}
                <a role="button" data-bs-toggle="tooltip" title="This is a curated list which means that not all tools or resources that exist for this topic are listed here. This is mainly because we do not intend to be a registry. In most cases you will only find back the tools or resources that are mentioned in this page.">
                    <i class="fas fa-info-circle" style="color:var(--main-text-color);"></i>
                </a>{%- endif %}
            </th>
            <th>Description</th>
            <th>Tags</th>
            <th>Registry</th>
        </tr>
    </thead>
    <tbody>
        {%- for tool in main_tags | sort %}
        <tr>
            {% if tool.link %}
            <td><a href="{{tool.link}}">{{tool.name}}</a></td>
            {%- else %}
            <td>{{tool.name}}</td>
            {%- endif %}
            <td>{{tool.description}}</td>
            {%- capture tags %}
            {%- for tag in tool.tags %}
            {%- if include.tag == tag or include.tag2 == tag %}{% assign bg-color = allowedtags[tag]["bg-color"] | default: "#3e3e3e" %}{% assign color = allowedtags[tag]["color"] | default: "white" %}
            <span class="badge" style="color:{{color}}; background-color:{{bg-color}};">{{tag}}</span>
            {%- else %}
            {%- if allowedtags[tag]["url"] %}
            {%- assign taglink = allowedtags[tag]["url"] %}
            <a class="nohover" href="{{taglink | relative_url }}"><span class="badge default-badge">{{tag}}</span></a>
            {%- else %}
            <span class="badge">{{tag}}</span>
            {%- endif %}
            {%- endif %}
            {%- endfor %}
            {%- endcapture %}
            <td>{{tags}}</td>
            <td style="text-align: center; vertical-align: middle;">
            {%- if tool.registry.biotools %}
            <a data-bs-toggle="tooltip"
                title="Bio.tools ID: {{tool.registry.biotools}}" href="https://bio.tools/{{tool.registry.biotools}}"
                ><img style="background-color: orange;" class="registry_logo" src="{{ 'assets/img/bio.tools.svg' | relative_url }}" alt="bio.tools logo"/></a>
            {%- endif %}
            {%- if tool.registry.fairsharing %}
            <a data-bs-toggle="tooltip"
                title="FAIRsharing ID: {{tool.registry.fairsharing}}" href="https://fairsharing.org/FAIRsharing.{{tool.registry.fairsharing}}"
                ><img style="background-color: #ECF0F1;" class="registry_logo" src="{{ 'assets/img/FAIRsharing-small.svg' | relative_url }}" alt="FAIRsharing logo"/></a>
            {%- endif %}
            {%- if tool.registry.tess %}
            <a data-bs-toggle="tooltip"
                title="TeSS: {{tool.registry.tess}}" href="https://tess.elixir-europe.org/search?q={{tool.registry.tess}}" 
                ><img style="background-color: #f47d20;" class="registry_logo" src="{{ 'assets/img/tess_logo.svg' | relative_url }}" alt="TeSS logo"/></a>
            {%- endif %}
            </td> 
        </tr>
        {%- endfor %}
    </tbody>
</table>
{%- endif%}
