<!-- Navigation -->
<header>
    <nav class="navbar navbar-expand-lg mb-2 mb-lg-4">
        <div class="container">
            <a class="navbar-brand" href="{{ 'index.html' | relative_url }}"><img alt="ELIXIR logo" src="{{ 'assets/img/RDMkit.svg' | relative_url }}"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i title="navbar-toggler" class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                <ul class="navbar-nav">
                    <!-- navigation entries -->
                    {%- assign topnav = site.data[page.topnav] -%}
                    {%- assign topnav_dropdowns = site.data[page.topnav].topnav_dropdowns -%}
                    {%- for entry in topnav.topnav -%}
                    {%- for item in entry.items -%}
                    {%- if item.external_url -%}
                    <li class="nav-item">
                        <a class="nav-link" href="{{item.external_url}}" target="_blank" rel="noopener">{{item.title}}</a>
                    </li>
                    {% elsif page.url contains item.url %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{item.url | relative_url }}">{{item.title}}</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{item.url | relative_url }}">{{item.title}}</a>
                    </li>
                    {% endif %}
                    {%- endfor %}
                    {%- endfor %}
                    <!--start Feedback button-->
                    {%- unless site.feedback_disable %}
                    <li class="nav-item">
                        {%- if site.feedback_text -%}
                        {%- assign feedback_text = site.feedback_text -%}
                        {%- else -%}
                        {%- assign feedback_text = "Feedback" -%}
                        {%- endif -%}
                        {% if site.feedback_link %}
                        <a class="nav-link" title="Submit feedback" href="{{site.feedback_link}}">{{feedback_text}}</a>
                        {% else %}
                        <a class="nav-link" title="Submit feedback" href="#" onclick="javascript:window.location='mailto:{{site.contact_email}}?subject={{site.feedback_subject_line}}&body=I have some feedback about the {{page.title}} page: ' + window.location.href;"><i class="far fa-envelope"></i> {{feedback_text}}</a>
                        {% endif %}
                    </li>
                    {% endunless %}
                    <!--start search-->
                    <li class="nav-item">
                        <form autocomplete="off" class="form-inline">
                            <input class="form-control" type="text" id="search-input" placeholder="Search..." aria-label="Search">
                            <ul id="results-container"></ul>
                            <script src="{{ 'assets/js/simple-jekyll-search.min.js' | relative_url }}"></script>
                            <script type="text/javascript">
                                var sjs = SimpleJekyllSearch({
                                searchInput: document.getElementById('search-input'),
                                resultsContainer: document.getElementById('results-container'),
                                json: "{{ 'search.json' | relative_url }}",
                                searchResultTemplate: '<li><a href="{url}" title="{{page.title | escape }}">{title}</a></li>',
                                noResultsText: '<li><a href=""">No results found...</a></li>',
                                limit: 10
                                })
                            </script>
                            
                        </form>
                    </li>
                    <!--end search-->
                </ul>
            </div>
        </div>
        <!-- /.container -->
    </nav>
</header>
