<!-- Navigation -->
<header>
    <a class="visually-hidden-focusable" href='#main'>Skip to content</a>
    <a class="visually-hidden-focusable" href='#footer'>Skip to footer</a>
    <nav class="navbar navbar-expand-lg mb-3 mb-lg-5 bg-dark navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ 'index.html' | relative_url }}"><img alt="ELIXIR logo" src="{{ 'assets/img/RDMkit_logo_inverted.svg' | relative_url }}">{% if site.topnav_title %}{{site.topnav_title}}{% endif %}</a>
            <button class="navbar-toggler text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i title="navbar-toggler" class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                <ul class="navbar-nav">
                    <!-- navigation entries -->
                    {%- assign topnav = site.data[page.topnav] -%}
                    {%- assign topnav_dropdowns = site.data[page.topnav].topnav_dropdowns -%}
                    {%- for entry in topnav.topnav -%}
                    {%- for item in entry.items -%}
                    {%- if item.external_url -%}
                    <li class="nav-item ms-0 ms-lg-3 mt-2 mt-lg-0">
                        <a class="nav-link ps-2" href="{{item.external_url}}" target="_blank" rel="noopener">{{item.title}}</a>
                    </li>
                    {% elsif page.url contains item.url %}
                    <li class="nav-item ms-0 ms-lg-3 mt-2 mt-lg-0">
                        <a class="nav-link ps-2 active" aria-current="page" href="{{item.url | relative_url }}">{{item.title}}</a>
                    </li>
                    {% else %}
                    <li class="nav-item ms-0 ms-lg-3 mt-2 mt-lg-0">
                        <a class="nav-link ps-2" href="{{item.url | relative_url }}">{{item.title}}</a>
                    </li>
                    {% endif %}
                    {%- endfor %}
                    {%- endfor %}
                    <!--start search-->
                    <li class="nav-item ms-0 ms-lg-3 my-2 my-lg-0">
                        <div class="search position-relative">
                            <form role="search" class="d-flex">
                                <i class="fa fa-search fa-lg"></i> <input type="search" id="search-input" class="ps-5 search-input form-control border-dark" tabindex="0" placeholder="Search {{ site.site_title }}" aria-label="Search {{ site.site_title }}" autocomplete="off">
                            <div id="search-results" class="search-results"></div>
                        </div>
                    </li>
                    <!--end search-->
                </ul>
            </div>
        </div>
        <!-- /.container -->
    </nav>
</header>
