
/*-----General styling-----*/
$font-family-theme: "Exo 2", sans-serif;

/*-----Top navigation-----*/
$topnav-bg: $dark;
$topnav-brand-height: 40px;

/*-----More information tiles-----*/
$info-card-header-bg: $light-x;
$info-card-header-color: $dark;


/*-----Section navigation tiles-----*/
$nav-card-bg: $light;
$nav-card-header-bg: $dark;
$nav-card-header-color: $white;
$nav-card-badge-color: $body-color;
$nav-card-badge-bg: $white;

/*-----Footer-----*/
$footer-bg: $dark;
$footer-color: $white;
$footer-link-color: $white;
$footer-copyright-bg: #00000033;

/*-----Events & news-----*/
$news-border-color: $dark;
