/*-----General styling-----*/

@media (min-width: 992px) {
    main h1:not(.has-subtitle):not(.blurb-title),
    main .h1:not(.has-subtitle) {
        margin-top: -1rem;
    }
}

/*-----Sidebar-----*/

//RDM wheel in sidebar
.sidebar_rdm {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 992px) {
    .sidebar_rdm {
        width: 200px;
    }
}

li ul .sidebar_rdm_sub {
    border-color: $light;
    padding: 0.75rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0px 0px $border-radius $border-radius;
    border-style: none solid solid solid;
    border-width: 0.2em;
    margin-top: -0.25rem;
}

.sidebar-title {
    border-bottom: 0.2rem solid $primary;
    font-weight: bold;
    padding-bottom: $input-btn-padding-y - 0.2rem;
}

#side-nav > ul {
    margin-top: $spacer * 0.5;
}

/* -----Homepage----- */

.landingpage {
    .card:hover{
        box-shadow: $box-shadow;
    }

    h1 {
        font-size: 3rem;
        font-weight: 200;
        text-align: center;
    }

    h2 {
        font-weight: 700;
        font-family:  $font-family-theme;
    }

    h3 {
        font-weight: 500;
        font-family:  $font-family-theme;
    }

    section.contributor {
        a {
            color: $white  !important;
            font-weight: bold;
        }
    
        a:hover {
            color: $primary  !important;
        }
    }

}

// Search box

section#search-section {
    form {
        max-width: 600px;
    }

    #search-results {
        right: unset;
    }
    .input-group-text {
        font-size: 1.5rem;
    }
}

// Counters on landing page

.count-number {
    font-size: 4em;
    font-weight: 700;
}

/*-----Top navigation-----*/

.navbar-nav .nav-item > a {
    white-space: nowrap;
    &.active {
        color: $white;
        background-color: $primary;
        border-radius: $border-radius;
    }
}
