
/*-----General styling-----*/
$font-family-theme: "Exo 2", sans-serif;

/*-----Top navigation-----*/
$topnav-bg: $dark;
$topnav-brand-height: 40px;

/*-----More information tiles-----*/
$info-card-bg: $light;
$info-card-color: $dark;
$info-card-bg-hover: $primary;
$info-card-color-hover: $white;

/*-----Sidebar-----*/
$sidebar-bg: $light;

/*-----Page metadata-----*/
$page-metadata-bg: rgba($primary, 0.16);

/*-----Section navigation tiles-----*/
$nav-card-bg: $light;
$nav-card-color: $dark;
$nav-card-bg-hover: $light;
$nav-card-color-hover: $dark;

/*-----Footer-----*/
$footer-bg: $dark;
$footer-color: $white;
$footer-link-color: $white;
$footer-copyright-bg: #00000033;

/*-----Events & news-----*/
$news-border-color: $dark;
