:root {
    --primary-theme-color: #C23669;
    --secondary-theme-color: #2a2e3d;
    --link-color: #376AC3;
    --light-grey: #f3f1f2;
    --white: #ffffff;
    --hover-grey: #74767f;
    --nav-bg: var(--secondary-theme-color);
    --nav-color: var(--white);
    --main-text-color: var(--secondary-theme-color);
    --main-bg-color: var(--white);
    --footer-bg: var(--secondary-theme-color);
    --footer-color: var(--white);
    --white-text: var(--white);
}

/*-----General styling-----*/

body {
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    font-family: 'Open Sans', sans-serif;
    font-variant-ligatures: none;
    font-size: 1em;
}

h1 {
    font-family: 'Exo 2', sans-serif;
    font-size: 3.5em;
    font-weight: 400;
    margin-bottom: 0.5em;
}

@media (max-width:992px) {
    h1 {
        font-size: 3em;
    }
}

main h2, section h2 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    color: var(--primary-theme-color);
    margin: 40px 0 10px;
}

main h3, section h3 {
    font-weight: 700;
    font-size: 1.2em;
    margin-top: 20px;
}

main h4, section h4 {
    font-weight: 700;
    font-size: 1.1em;
    color: var(--hover-grey);
    margin-top: 20px;
}

main h2+h3, section h2+h3 {
    margin-top: 12px;
}

main h3+h4, section h3+h4 {
    margin-top: 15px;
}

main a, section a {
    text-decoration: none;
    color: var(--link-color);
}

main a:hover, section a:hover {
    color: var(--link-color);
    text-decoration: underline;
}

blockquote {
    margin-left: 20px;
    border-left: 5px solid var(--hover-grey);
    padding-left: 10px;
    color: var(--hover-grey);
    border-radius: 4px;
}

hr {
    background: #999;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* Selection color */

::-moz-selection {
    /* Code for Firefox */
    color: var(--white-text);
    background: var(--primary-theme-color);
}

::selection {
    color: var(--white-text);
    background: var(--primary-theme-color);
}

/* End - Selection color */

main ol li, main ul li, section ol li, section ul li{
    margin: 10px 0px;
}

/* list circles colored */

ul li::marker {
    color: var(--primary-theme-color);
}

/* position and size emoji */

main img.emoji {
    margin: 0px 0px 0.2em 0px;
    width: 1.3em;
}

/*-----Code highlighting-----*/

code {
    background-color: var(--light-grey);
    border-radius: 4px;
    padding: 2px 4px;
}

pre {
    padding: 9.5px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    border: 1px solid #ccc;
    border-radius: 4px;
}

pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
}

/*-----Top navigation-----*/

.navbar {
    background-color: var(--nav-bg);
}

.navbar-nav .nav-item a {
    color: var(--nav-color);
}

.navbar-nav .nav-item a:hover {
    color: var(--primary-theme-color);
    text-decoration: none;
}

.navbar-nav .nav-item a.active {
    color: var(--white-text);
    background-color: var(--primary-theme-color);
    border-radius: 4px;
}

.navbar-brand img {
    height: 40px;
}

.navbar-toggler {
    color: var(--primary-theme-color);
}

/*-----Search box top navigation-----*/

#search-input {
    border: 1px solid var(--nav-bg);
}

#search-input:focus {
    box-shadow: 0 0 0 0.25rem #c2366947;
    border-color: var(--primary-theme-color);
}

.search {
    position: relative;
    z-index: 2;
}

.search .fa-search {
    position: absolute;
    top: 12px;
    left: 15px;
}

.search-results {
    position: absolute;
    right: 0;
    top: 100%;
    display: none;
    width: 36em;
    max-height: calc(90vh - 200%) !important;
    overflow-y: auto;
    background-color: var(--white);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 20%), 0 3px 10px rgba(0, 0, 0, 15%);
    border-radius: 4px;
}

@media (max-width: 992px) {
    .search-results {
        width: 100%;
    }
}

.search-results ul {
    padding-left: 0;
    list-style: none;
}

.search-results a {
    display: block;
    padding: 0.5rem 0.75rem;
}

.search-results a:hover, .search-results a.active {
    background-color: var(--light-grey);
}

.search-result-title {
    display: inline-block;
    width: 40%;
    padding: 0.5rem 0.5rem 0.5rem 0;
    vertical-align: top;
}

.search-result-doc {
    display: flex;
    align-items: center;
    word-wrap: break-word;
}

.search-result-doc.search-result-doc-parent {
    font-size: 12px !important;
    font-weight: 600;
}

.search-result-doc .search-result-doc-title {
    overflow: auto;
    color: var(--main-text-color);
}

.search-result-section {
    word-wrap: break-word;
    color: var(--primary-theme-color)
}

.search-result-rel-url {
    display: block;
    overflow: hidden;
    color: var(--hover-grey);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 10px !important;
}

.search-result-previews {
    display: inline-block;
    width: 60%;
    padding: 0.5rem 0 0.5rem 0.5rem;
    color: var(--hover-grey);
    word-wrap: break-word;
    border-left: 1px solid var(--light-grey);
    font-size: 12px !important;
    vertical-align: top;
}

.search-result-preview+.search-result-preview {
    margin-top: 0.25rem;
}

.search-result-highlight {
    font-weight: bold;
}

.search-no-result {
    padding: 0.5rem 0.75rem;
}

.search-active .search-results {
    display: block;
}

/*-----Sidebar-----*/

@media (min-width: 992px) {
    #side-nav {
        display: block !important;
    }
}

.sidebar-collapse i {
    font-size: 1.25rem;
    float: right;
    line-height: 1.25em;
}

.sidebar-collapse:not(.collapsed) {
    color: var(--nav-color);
    background-color: var(--nav-bg);
}

.sidebar-title {
    margin: 11px 0px;
    font-weight: 800;
    font-size: 1.3em;
}

.menu ul {
    display: none;
    padding-left: 0;
}

.menu li a {
    margin-top: 4px;
    color: var(--main-text-color);
    background-color: var(--light-grey);
    display: block;
    padding: 7px 11px;
    text-decoration: none;
    border-radius: 4px;
}

.menu li a:hover {
    background-color: var(--primary-theme-color);
    color: var(--white-text);
}

.menu ul li a {
    padding-left: 30px;
    background-color: transparent;
}

.menu ul li ul li a {
    padding-left: 60px;
}

.menu li.active:not(.parent)>a {
    background-color: var(--primary-theme-color);
    color: var(--white-text);
}

.menu li>a>span {
    float: right;
    width: 15px;
    text-align: center;
}

.menu li.active>a>span:after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f077";
}

.menu li>a>span:after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f078";
}

/*-----Summary under page title-----*/

.summary {
    font-size: 16px;
    color: var(--hover-grey);
    margin: 20px 0px 20px 0px;
    border-left: 5px solid var(--primary-theme-color);
    padding-left: 10px;
}

.summary:before {
    font-weight: bold;
}

/*-----TOC-----*/

/* TOC base styling */

#toc {
    padding: 15px;
    background-color: var(--light-grey);
    margin: 1.75em 0 2em;
    border-radius: 4px;
    max-width: 400px;
    line-height: 1.4;
}

/* Indent the lists and reset any other padding */

#toc ul {
    padding: 0 0 0 20px;
}

/* Consistent vertical space between list items */

#toc li, #toc ul ul li {
    margin: 8px 0 0 0;
}

/* Sublists */

#toc ul ul {
    list-style: circle outside;
}

/* ---- Theme Badges-------- */

.default-badge {
    font-weight: inherit;
    background-color: var(--light-grey);
    color: var(--main-text-color);
}

.default-badge:hover {
    color: var(--white-text);
    background-color: var(--primary-theme-color);
}

/*-----General table properties-----*/

.table {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    border-color: var(--light-grey);
}

.table>:not(:last-child)>:last-child>* {
    border-bottom-color: inherit;
}

/* Name and description column improvements */

#tooltable tr th:nth-child(1) {
    width: 25%;
}

#tooltable tr th:nth-child(2) {
    width: 40%;
}

#tooltable tr th:nth-child(4) {
    width: 15%;
}

#tooltable td:nth-child(2) {
    font-size: .9em
}

#tooltable td:nth-child(1) a {
    font-weight: bold;
}

/*-----Registries in tool table------*/

.registry_badge {
    background-color: var(--secondary-theme-color);
    color: var(--white-text);
}

.registry_badge:hover {
    background-color: var(--primary-theme-color);
}

/*-----Footer-----*/

footer {
    background-color: var(--footer-bg);
    color: var(--footer-color);
    font-size: 0.9em;
    line-height: 24px;
    margin-top: 80px;
}

footer h2 {
    font-size: 1em;
}

footer a {
    color: var(--footer-color);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    color: var(--primary-theme-color);
    text-decoration: none;
}

footer .europe-flag {
    width: 80px;
    padding-top: 18px;
}

footer .company-logo {
    float: right
}

/*-----MetaData section -----*/

.meta-line {
    background-color: var(--light-grey);
    border-radius: 4px;
}

.meta-obj {
    margin: 5px 5px 5px 0px;
    background-color: var(--main-bg-color);
    color: var(--link-color);
    text-align: center;
    text-decoration: none;
    font-size: 0.9em;
    vertical-align: middle;
    padding: .375rem .75rem;
    border-radius: 4px;
    display: inline-block;
    transition: color .15s ease-in-out, background-color .15s ease-in-out;
}

.meta-obj-false {
    background-color: var(--main-bg-color);
    margin: 5px 5px 5px 0px;
    color: var(--main-text-color);
    text-align: center;
    text-decoration: none;
    font-size: 0.9em;
    vertical-align: middle;
    padding: .375rem .75rem;
    display: inline-block;
    border-radius: 4px;
}

.meta-obj-false:hover {
    color: var(--main-text-color);
}

.meta-obj:hover {
    background-color: var(--primary-theme-color);
    color: var(--white-text);
}

.contributor-badge {
    height: 1.25em;
    border-radius: 50%;
    margin: 0.25em;
}

/* -----Homepage----- */

.blurb-title {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.3em;
    margin-bottom: 18px;
    font-weight: 600;
}

/* ----- Home dropdown boxes ------ */

.home-cards .card {
    min-height: 9.5em;
}

h2.card-title {
    margin: 0 0 0.5rem 0;
}

/* Custom buttons */

.btn-custom {
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    background-color: var(--light-grey);
    padding: 7px 11px;
    border-radius: 4px;
    text-align: left;
    border: 0;
}

.btn-custom:hover {
    background-color: var(--primary-theme-color);
    color: var(--white-text);
}

.btn-custom.arrow::after {
    float: right;
    width: 15px;
    text-align: center;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f078";
}

.btn-custom.arrow:not(.collapsed)::after {
    float: right;
    width: 15px;
    text-align: center;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f077";
}

/*-----Contributors cards-----*/

.contributor-cards .card {
    background-color: var(--light-grey);
    border: 0;
    border-radius: 4px;
}

.contributor-cards .badge {
    background-color: var(--primary-theme-color);
    margin: 10px 10px 0px 0px;
}

.contributor-cards .card-affiliation {
    color: var(--primary-theme-color);
    font-size: 0.8em;
}

/*-----Contributors carousel-----*/

#contributors-carousel .carousel-control-next, #contributors-carousel .carousel-control-prev {
    width: 3%;
}

@media (max-width:768px) {
    #contributors-carousel .card-title {
        font-size: 0.5em
    }
    #contributors-carousel .card-affiliation {
        color: var(--primary-theme-color);
        font-size: 0.4em;
    }
    #contributors-carousel .card-body {
        padding: 0rem 0.5rem 0.5rem 0.5rem;
    }
}

/*-----Social icons-----*/

.social-icons a {
    background-color: var(--main-bg-color);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    color: var(--primary-theme-color);
    display: inline-block;
    line-height: 4ex;
    width: 4ex;
    height: 4ex;
    text-align: center;
    border-radius: 100%;
}

.social-icons a:hover {
    background-color: var(--primary-theme-color);
    color: var(--white-text);
}

@media (max-width:768px) {
    #contributors-carousel .social-icons a {
        line-height: 1.2ex;
        width: 1.2ex;
        height: 1.2ex;
    }
}

/*-----Edit me button-----*/

.github-edit-btn {
    color: var(--primary-theme-color);
    margin-left: 12px;
    font-size: small;
}

.github-edit-btn:hover {
    color: var(--primary-theme-color);
    background-color: var(--light-grey);
    text-decoration: none;
}

/* ----- Cookie consent ----- */

.cookiealert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    color: var(--footer-color);
    background: var(--footer-bg);
    border-radius: 0;
}

.cookiealert.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

.cookiealert .acceptcookies {
    margin-left: 10px;
    vertical-align: baseline;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    background-color: var(--light-grey);
    padding: 7px 11px;
    border-radius: 4px;
    border: 0px;
}

.cookiealert .acceptcookies:hover {
    background-color: var(--primary-theme-color);
    color: var(--white-text);
}

.cookiealert a {
    color: var(--footer-color);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    font-weight: bold;
    text-decoration: none;
}

.cookiealert a:hover {
    color: var(--primary-theme-color);
}

/*--------------Custom classes--------------*/

/* ---------------------------------------- */

/* RDM wheel in sidebar */

.sidebar_rdm {
    display: block;
    margin-left: auto;
    margin-right: auto
}

@media (max-width: 992px) {
    .sidebar_rdm {
        width: 200px;
    }
}

li ul .sidebar_rdm_sub {
    border-color: var(--light-grey);
    padding: 14px 10px 10px 10px;
    border-radius: 0px 0px 4px 4px;
    border-style: none solid solid solid;
    border-width: 0.2em;
}

/*-----RDM wheel frontpage-----*/

.ratio.main_rdm {
    padding-bottom: 100%;
}

@media (min-width: 576px) {
    .ratio.main_rdm {
        padding-bottom: 70%;
    }
}

@media (min-width: 768px) {
    .ratio.main_rdm {
        padding-bottom: 35%;
    }
}

/*-----TeSS button-----*/

.TeSS-button {
    margin: 30px 0px;
}

.TeSS-button .tess_logo {
    max-height: 45px;
    max-width: 45px;
    margin-left: 17px;
    margin-bottom: 5px;
}

.TeSS-button a {
    padding: 16px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    border-radius: 4px;
    background-color: var(--light-grey);
    text-decoration: none;
    color: var(--main-text-color);
}

.TeSS-button a:hover {
    background-color: var(--primary-theme-color);
    text-decoration: none;
    color: var(--white-text);
}

/* Events homepage */

li.upcoming-event, .events {
    display: none;
}

.events li {
    border-left: var(--primary-theme-color) 5px solid;
    border-radius: 4px;
    padding-left: 11px;
}

.events i {
    width: 20px;
    text-align: center;
}

.events .title {
    background-color: var(--main-text-color);
    font-weight: 600;
    color: white;
    padding: 0px 11px;
    border-radius: 0px 4px 4px 0px;
    margin-left: -11px;
    border: 1px solid var(--main-text-color);
    display: inline-block;
}

/* Counters on landing page */

.count-number {
    font-size: 4em;
    font-weight: 700;
    color: var(--primary-theme-color)
}

.count-panel {
    background-color: var(--light-grey);
    padding: 11px;
    border-radius: 4px;
    margin-top: .5rem;
}

iframe {
    height: 400px;
    width: 100%;
    margin: 40px 0;
}
