---
---

/*-----Theme colors-----*/
$white: #fff;
$primary: #376ac3;
$light: #f3f1f2;
$dark: #2a2e3d;
$secondary: #c23669;

/*-----Custom bootstrap values-----*/
$component-active-bg: $secondary;
$navbar-dark-color: $white;
$navbar-dark-hover-color: $secondary;
$navbar-dark-toggler-border-color: transparent;
$link-decoration: none;
$body-bg: $white;
$body-color: $dark;

@import "bootstrap/bootstrap";

/*-----General styling-----*/

body {
    font-family: "Open Sans", sans-serif;
    font-variant-ligatures: none;
}

h1 {
    font-family: "Exo 2", sans-serif;
    font-size: 3.5em;
    font-weight: 400;
    margin-bottom: 0.5em;
}

@media (max-width: 992px) {
    h1 {
        font-size: 3em;
    }
}

main h2 {
    font-family: "Exo 2", sans-serif;
    font-weight: 700;
    color: $secondary;
    margin: 40px 0 10px;
}

main h3 {
    font-weight: 700;
    font-size: 1.2em;
    margin-top: 20px;
}

main h4 {
    font-weight: 700;
    font-size: 1.1em;
    color: $gray-600;
    margin-top: 20px;
}

main h2 + h3 {
    margin-top: 12px;
}

main h3 + h4  {
    margin-top: 15px;
}

main a:hover {
    text-decoration: underline;
}

blockquote {
    margin-left: 20px;
    border-left: 5px solid $gray-600;
    padding-left: 10px;
    color: $gray-600;
    border-radius: 4px;
}

hr {
    background: #999;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* Selection color */

::-moz-selection {
    /* Code for Firefox */
    color: $white;
    background: $secondary;
}

::selection {
    color: $white;
    background: $secondary;
}

/* End - Selection color */

main ol li,
main ul li {
    margin: 10px 0px;
}

/* list circles colored */

ul li::marker {
    color: $secondary;
}

/* position and size emoji */

main img.emoji {
    margin: 0px 0px 0.2em 0px;
    width: 1.3em;
}

/*-----Code highlighting-----*/

code {
    background-color: $light;
    border-radius: 4px;
    padding: 2px 4px;
}

pre {
    padding: 9.5px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    border: 1px solid #ccc;
    border-radius: 4px;
}

pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
}

/*-----Top navigation-----*/

.navbar-nav .nav-item a.active {
    color: $white;
    background-color: $secondary;
    border-radius: 4px;
}

.navbar-brand img {
    height: 40px;
}

/*-----Search box top navigation-----*/

.search {
    position: relative;
    z-index: 2;
}

.search .fa-search {
    position: absolute;
    color: $secondary;
    top: 12px;
    left: 15px;
}

.search-results {
    position: absolute;
    right: 0;
    top: 100%;
    display: none;
    width: 36em;
    max-height: calc(90vh - 200%) !important;
    overflow-y: auto;
    background-color: $white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 20%), 0 3px 10px rgba(0, 0, 0, 15%);
    border-radius: 4px;
}

@media (max-width: 992px) {
    .search-results {
        width: 100%;
    }
}

.search-results ul {
    padding-left: 0;
    list-style: none;
}

.search-results a {
    display: block;
    padding: 0.5rem 0.75rem;
}

.search-results a:hover,
.search-results a.active {
    background-color: $light;
}

.search-result-title {
    display: inline-block;
    width: 40%;
    padding: 0.5rem 0.5rem 0.5rem 0;
    vertical-align: top;
}

.search-result-doc {
    display: flex;
    align-items: center;
    word-wrap: break-word;
}

.search-result-doc.search-result-doc-parent {
    font-size: 12px !important;
    font-weight: 600;
}

.search-result-doc .search-result-doc-title {
    overflow: auto;
    color: $body-color;
}

.search-result-section {
    word-wrap: break-word;
    color: $secondary;
}

.search-result-rel-url {
    display: block;
    overflow: hidden;
    color: $gray-600;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 10px !important;
}

.search-result-previews {
    display: inline-block;
    width: 60%;
    padding: 0.5rem 0 0.5rem 0.5rem;
    color: $gray-600;
    word-wrap: break-word;
    border-left: 1px solid $light;
    font-size: 12px !important;
    vertical-align: top;
}

.search-result-preview + .search-result-preview {
    margin-top: 0.25rem;
}

.search-result-highlight {
    font-weight: bold;
}

.search-no-result {
    padding: 0.5rem 0.75rem;
}

.search-active .search-results {
    display: block;
}

/*-----Sidebar-----*/

@media (min-width: 992px) {
    #side-nav {
        display: block !important;
    }
}

.sidebar-collapse i {
    font-size: 1.25rem;
    float: right;
    line-height: 1.25em;
}

.sidebar-collapse:not(.collapsed) {
    color: $secondary;
    background-color: $secondary;
}

.sidebar-title {
    margin: 11px 0px;
    font-weight: 800;
    font-size: 1.3em;
}

.menu ul {
    display: none;
    padding-left: 0;
}

.menu li a {
    margin-top: 4px;
    color: $body-color;
    background-color: $light;
    display: block;
    padding: 7px 11px;
    text-decoration: none;
    border-radius: 4px;
}

.menu li a:hover {
    background-color: $secondary;
    color: $white;
}

.menu ul li a {
    padding-left: 30px;
    background-color: transparent;
}

.menu ul li ul li a {
    padding-left: 60px;
}

.menu li.active:not(.parent) > a {
    background-color: $secondary;
    color: $white;
}

.menu li > a > span {
    float: right;
    width: 15px;
    text-align: center;
}

.menu li.active > a > span:after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f077";
}

.menu li > a > span:after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f078";
}

/*-----Summary under page title-----*/

.summary {
    font-size: 16px;
    color: $gray-600;
    margin: 20px 0px 20px 0px;
    border-left: 5px solid $secondary;
    padding-left: 10px;
}

.summary:before {
    font-weight: bold;
}

/*-----TOC-----*/

/* Indent the lists and reset any other padding */

#toc ul {
    padding: 0 0 0 20px;
}

/* Consistent vertical space between list items */

#toc li,
#toc ul ul li {
    margin: 8px 0 0 0;
}

/* Sublists */

#toc ul ul {
    list-style: circle outside;
}

/* ---- Theme Badges-------- */

.default-badge {
    font-weight: inherit;
    background-color: $light;
    color: $body-color;
}

.default-badge:hover {
    color: $white;
    background-color: $secondary;
}

/*-----General table properties-----*/

.table {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    border-color: $light;
}

.table > :not(:last-child) > :last-child > * {
    border-bottom-color: inherit;
}

/* Name and description column improvements */

#tooltable tr th:nth-child(1) {
    width: 25%;
}

#tooltable tr th:nth-child(2) {
    width: 40%;
}

#tooltable td:nth-child(2) {
    font-size: 0.9em;
}

#tooltable td:nth-child(1) a,
#trainingtable td:nth-child(1) a {
    font-weight: bold;
}

/*-----Registries in tool table------*/

.registry_badge {
    background-color: $dark;
    color: $white;
}

.registry_badge:hover {
    background-color: $secondary;
}

/*-----Footer-----*/

footer {
    font-size: 0.9em;
    line-height: 24px;
}

footer h2 {
    font-size: 1em;
}

footer a {
    color: $white;
    font-weight: bold;
}

footer a:hover {
    color: $secondary;
    text-decoration: none;
}

footer .europe-flag {
    width: 80px;
    padding-top: 18px;
}

footer .company-logo {
    float: right;
}

/*-----MetaData section -----*/

.meta-obj {
    margin: 5px 5px 5px 0px;
    background-color: $body-bg;
    text-align: center;
    font-size: 0.9em;
    vertical-align: middle;
    display: inline-block;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.meta-obj-false {
    background-color: $body-bg;
    margin: 5px 5px 5px 0px;
    color: $body-color;
    text-align: center;
    text-decoration: none;
    font-size: 0.9em;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
    display: inline-block;
    border-radius: 4px;
}

.meta-obj-false:hover {
    color: $body-color;
}

.meta-obj:hover {
    background-color: $secondary;
    color: $white;
}

.contributor-badge {
    width: 130px;
}

/* -----Homepage----- */

.blurb-title {
    font-family: "Exo 2", sans-serif;
    font-size: 1.3em;
    margin-bottom: 18px;
    font-weight: 600;
}

/* ----- Home dropdown boxes ------ */

h2.card-title {
    margin: 0 0 0.5rem 0;
}

/* Custom buttons */

.btn-custom {
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    background-color: $light;
    padding: 7px 11px;
    border-radius: 4px;
    text-align: left;
    border: 0;
}

.btn-custom:hover {
    background-color: $secondary;
    color: $white;
}

.btn-custom.arrow::after {
    float: right;
    width: 15px;
    text-align: center;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f078";
}

.btn-custom.arrow:not(.collapsed)::after {
    float: right;
    width: 15px;
    text-align: center;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f077";
}

/*-----Contributors cards-----*/

.contributor-cards .card {
    background-color: $light;
    border: 0;
    border-radius: 4px;
}

.contributor-cards .badge {
    background-color: $secondary;
    margin: 10px 10px 0px 0px;
}

.contributor-cards .card-affiliation {
    color: $secondary;
    font-size: 0.8em;
}

/*-----Contributors carousel-----*/

#contributors-carousel .carousel-control-next,
#contributors-carousel .carousel-control-prev {
    width: 3%;
}

@media (max-width: 768px) {
    #contributors-carousel .card-title {
        font-size: 0.5em;
    }
    #contributors-carousel .card-affiliation {
        color: $secondary;
        font-size: 0.4em;
    }
    #contributors-carousel .card-body {
        padding: 0rem 0.5rem 0.5rem 0.5rem;
    }
}

/*-----Social icons-----*/

.social-icons {
    line-height: 4ex;
    width: 4ex;
    height: 4ex;
    text-align: center;
}

@media (max-width: 768px) {
    #contributors-carousel .social-icons {
        line-height: 1.2ex;
        width: 1.2ex;
        height: 1.2ex;
    }
}

/*-----Edit me button-----*/

.github-edit-btn {
    color: $secondary;
    margin-left: 12px;
    font-size: small;
}

.github-edit-btn:hover {
    color: $secondary;
    background-color: $light;
    text-decoration: none;
}

/* ----- Cookie consent ----- */

.cookiealert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition: all 500ms ease-out;
}

.cookiealert.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

.cookiealert .acceptcookies {
    margin-left: 10px;
    vertical-align: baseline;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    background-color: $light;
    padding: 7px 11px;
    border-radius: 4px;
    border: 0px;
}

.cookiealert .acceptcookies:hover {
    background-color: $secondary;
    color: $white;
}

.cookiealert a {
    color: $white;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    font-weight: bold;
    text-decoration: none;
}

.cookiealert a:hover {
    color: $secondary;
}


.hover-secondary:hover,  .hover-secondary:focus {
    background-color: $secondary !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    color: $white !important;;
}

/*--------------Custom classes--------------*/

/* ---------------------------------------- */

/* RDM wheel in sidebar */

.sidebar_rdm {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 992px) {
    .sidebar_rdm {
        width: 200px;
    }
}

li ul .sidebar_rdm_sub {
    border-color: $light;
    padding: 14px 10px 10px 10px;
    border-radius: 0px 0px 4px 4px;
    border-style: none solid solid solid;
    border-width: 0.2em;
}

/*-----RDM wheel frontpage-----*/

.ratio.main_rdm {
    padding-bottom: 100%;
}

@media (min-width: 576px) {
    .ratio.main_rdm {
        padding-bottom: 70%;
    }
}

@media (min-width: 768px) {
    .ratio.main_rdm {
        padding-bottom: 35%;
    }
}

/* Events homepage */

li.upcoming-event,
.events {
    display: none;
}

.events li {
    border-left: $secondary 5px solid;
    border-radius: 4px;
    padding-left: 11px;
}

.events i {
    width: 20px;
    text-align: center;
}

.events .title {
    background-color: $body-color;
    font-weight: 600;
    color: white;
    padding: 0px 11px;
    border-radius: 0px 4px 4px 0px;
    margin-left: -11px;
    border: 1px solid $body-color;
    display: inline-block;
}

/* Counters on landing page */

.count-number {
    font-size: 4em;
    font-weight: 700;
}

// Scaling presentations and videos

iframe.scale {
    height: 500px;
    width: 100%;
    margin: 40px 0;
}
