<!doctype html>
<html lang="en">
<head>
{% include head.html %}
{%- if page.datatable == true %}
    <!-- Include the standard DataTables bits -->
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/dataTables.bootstrap5.min.css' | relative_url }}">
    <script type="text/javascript" charset="utf8" src="{{ 'assets/js/jquery.dataTables.min.js' | relative_url }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ 'assets/js/dataTables.bootstrap5.min.js' | relative_url }}"></script>
    <script>
        $(document).ready(function () {
            $('div.datatable-begin').nextUntil('div.datatable-end', 'table').addClass('display');
            $('table.display').DataTable({
                lengthMenu: [ [25, 50, 100, -1], [25, 50, 100, "All"] ],
                ordering:false,
                stateSave: true,
                searching: true,

            });
        });
    </script>
{%- endif %}
</head>

<body>
    {% include topnav.html %}
    <!-- Page Content -->
    <div class="container">
        <div id="main">
            <!-- Content Row -->
            <div class="row gx-0 gx-lg-5">
                {%- assign content_col_size = "col-lg-12" %}{% unless page.hide_sidebar %}
                <!-- Sidebar Column -->
                <div class="col-lg-3">
                    {% include sidebar.html %}
                </div>
                {%- assign content_col_size = "col-lg-9" %}{% endunless %}
                <!-- Content Column -->
                <div class="{{content_col_size}}">
                    {{content}}
                </div>
            </div>
        </div>
    </div>
    {% include footer.html %}
    {% include cookie-popup.html %}
    <script>
        external_new_window();
    </script>
</body>
</html>
