---
layout: default
---
{%- if page.title %}
<div class="post-header">
    <h1 class="post-title-main">{{ page.title }}
        {%- if page.custom-editme %}
        {%- capture custom-editme %}{{ page.custom-editme }}{%- endcapture %}
        {%- include edit_me.html path=custom-editme %}
        {%- else %}
        {%- include edit_me.html %}
        {%- endif %}
    </h1>
</div>
{%- endif %}
<div class="post-content">
    {%- if page.summary %}
    <div class="summary">{{page.summary}}</div>
    {%- endif %}
    {%- unless page.toc == false %}
    {%- include toc.html %}
    {%- endunless %}
    {{content}}
</div>
{%- if page.tags != null or page.contributors != null %}
<hr>
{%- endif %}
{%- if page.tags != null %}
<div class="tags">
    <b>Tags: </b>
    {%- assign projectTags = site.data.tags %}
    {%- assign tags = page.tags | sort %}
    {%- for tag in tags %}
    {%- if projectTags[tag] %}
    <a href="{{ projectTags[tag].url }}" class="btn btn-default"
        role="button">{{tag}}</a>
    {%- endif %}
    {%- endfor %}
</div>
{%- endif %}
{%- if page.contributors %}
<div class="contributors-line"><b>Contributors: </b>{%- include contributor-badge-list.html contributors=page.contributors %}</div>
{%- endif %}
