---
layout: default
---
<main id="main" class="mb-5">
    {%- if page.title %}
    {%- assign subtitle = page.type | replace: "_", " " | capitalize %}
    <h1>{% unless subtitle == blank %}<span class="d-block text-secondary fs-4 ff-body">{{subtitle}}</span><span class="visually-hidden">:</span> {% endunless %}{{ page.title }}
        <div class="btn-group">
            {%- if page.custom-editme %}
            <a role="button" data-bs-toggle="tooltip" title="Propose changes to the content of this page on GitHub" href="{{site.github.repository_url}}/blob/master/{{page.custom-editme}}" class="btn hover-primary text-primary"><i class="fas fa-pencil-alt"></i></a>
            {%- else %}
            <a role="button" data-bs-toggle="tooltip" title="Propose changes to this page on GitHub"  href="{{site.github.repository_url}}/blob/master/{{page.path}}" class="btn hover-primary text-primary"><i class="fas fa-pencil-alt"></i></a>
            {%- endif %}
            <a role="button" data-bs-toggle="tooltip" title="Check out the history of this page" href="{{site.github.repository_url}}/commits/master/{{page.path}}" class="btn hover-primary text-primary"><i class="fas fa-history"></i></a>
        </div>
    </h1>
    {%- endif %}
    {%- if page.summary %}
    <div class="summary">{{page.summary}}</div>
    {%- endif %}
    {%- unless page.toc == false %}
    {%- include toc.html %}
    {%- endunless %}
    {{content}}
    {% include resource-listing.html %}
    {% include further-reading.html %}
    {% include contributors-list.html %}
</main>

