name: Creation or update of FAIRsharing collections
on:
  schedule:
    - cron:  '0 13 * * 1'
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.13]
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruamel.yaml requests python-frontmatter
      - name: Run script for creating or updating collections
        run: | 
          python var/fairsharing_integration.py --username ${{ secrets.FAIRSHARING_USERNAME }} --password "${{ secrets.FAIRSHARING_PASSWORD }}"
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: FAIRsharing collection update
          title: 'FAIRsharing collection update'
          body: |
            This PR is automatically generated based on changes in the Your domain section.

            Please verify if these changes are valid.
          labels: |
            automatic PR
          reviewers: bedroesb
          branch: fairsharing_coll_updates
          base: master

      - name: Check output
        run: |
          echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
