
name: Jekyll site CI

on:
  pull_request:
    branches: [ master ]


permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.branch }}

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1.127.0
        with:
          ruby-version: '3.1'
          bundler-cache: true
          cache-version: 0

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v2

      - name: Set Jekyll environment
        id: name
        run: |
          if [ "$REPO_OWNER" == "elixir-europe" ]; then
            echo "jekyll_env=production" >> $GITHUB_OUTPUT
          else
            echo "jekyll_env=development" >> $GITHUB_OUTPUT
          fi
        env:
          REPO_OWNER: ${{ github.repository_owner }}

      - name: Install dependencies
        run: |
          bundle install

      - name: Build with Jekyll
        # Outputs to the './_site' directory by default
        run: |
          bundle exec jekyll build --baseurl "${{ steps.pages.outputs.base_path }}"
        env:
          PAGES_REPO_NWO: ${{ github.repository }}
          JEKYLL_ENV: ${{ steps.name.outputs.jekyll_env }}
          JEKYLL_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1