name: Converting to yaml + registry lookup

on:
  schedule:
    - cron:  '0 13 * * 1'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyyaml requests python-frontmatter
      - name: Run tool table 2 yaml
        run: |
          python var/conversions.py --reg --username ${{ secrets.FAIRSHARING_USERNAME }} --password "${{ secrets.FAIRSHARING_PASSWORD }}"
      - name: Fetch country names with corresponding iso
        run: |
          python var/country_list.py "
      - name: Show differences
        run: 'git diff --stat'
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: Update tool/resource_list.yaml
          title: 'Automatic tool/resource-list update'
          body: |
            This PR is automatically generated based on changes in the main_tool_and_resource_list.csv file or based on new links made between the tool table and TeSS.

            Please verify if these changes are valid.
          labels: |
            automatic PR
          reviewers: bedroesb
          team-reviewers: |
            maintainers
          branch: list_updates
          base: master

      - name: Check output
        run: |
          echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
