name: Converting the tool and recourse table

on:
  push:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install xlrd pyyaml
      - name: Run tool table 2 yaml
        run: |
          python var/tool_table2yaml.py
      - name: Run tool table 2 yaml
          run: |
            python var/recourse_table2yaml.py  
      - name: Show differences
        run: 'git diff --stat'
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: Update tool/recourse_list.yaml
          title: 'Automatic tool/recourse-list update'
          body: |
            This PR is automatically generated based on changes in the tool_list.xlsx or recourse_list.xlsx file.

            Please verify if these changes are valid.
          labels: |
            automatic PR
          reviewers: bedroesb
          team-reviewers: |
            maintainers
          branch: list_updates
          base: master

      - name: Check output
        run: |
          echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"