name: Validation of the tools and page metadata
on:
  pull_request:
    branches: [ master, main ]
  workflow_dispatch:

jobs:
  validation:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.13]
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruamel.yaml requests python-frontmatter
      - name: Run tool table 2 yaml
        run: | 
          python var/tools_validator.py
